// Imports
@import 'variables.scss';
@import 'fonts.scss';
@import 'mixin.scss';

@import 'actor-sheet.scss';
@import 'minion-sheet.scss';
@import 'dungeon-sheet.scss';
@import 'faction-sheet.scss';
@import 'party-sheet.scss';

@import 'attributes.scss';
@import 'item-sheets.scss';
@import 'chat.scss';
@import 'dialogs.scss';


/*
 *   Layout Styles
 */

// Disallow sheet to be reduced in size beyond the minimum needed
.sheet {
	min-width: min-content;
}

.window-app .window-content {
    background: url(../styles/assets/images/background-light.png) repeat;
    color: $almost_black;
    overflow-y: auto;
    background-size: 300px;

    form.actor-sheet {
        z-index: 0;
    }
}

// TO DO: Check to reduce padding dynamically
// TO DO: Check if to move notes and hint
form {
    &.actor-sheet {
        padding: 20px;
    }

    .notes, .hint {
        color: $bloody;
        font-weight: 600;
    }
}

// TO DO: Trim and maybe move parts to item sheets
section {
    display: flex;
    flex-direction: column;
    // justify-content: space-between; // Check if needed

    > *:not(.label-stripe) {
        margin-right: 10px;

        &:last-child {
            margin-right: 0px;
        }
    }

    .grow-one {
        flex-grow: 1;
    }

    .grow-two {
        flex-grow: 2;
    }
}

.flex-horizontal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flex-vertical {
    display: flex;
    flex-direction: column;
}

// Basic Character Information Table for Wicked One and Minion Pack
table.base-info {
    border-top: 5px solid $mud;

    tr {

        td:nth-of-type(1) {
            min-width: 150px;
        }

        .item-add-popup {
            color: $mud;
        }

        .text-input {
            color: $mud;

            label {
                font-weight: 700;
            }

            input {
                font-weight: normal;
                font-family: Piedra;
                font-size: 20px;
                border: none;
                border-radius: 0;
            }
        }
    }
}

nav {
    margin-bottom: 10px;
}

// DU MP WO Nav Container (implement MP version)
#wo-nav-container, #dun-nav-container, #mp-nav-container {
    nav a {
        flex: none;
    }

    .all-items-list {
        font-size: 14px;

        &:nth-of-type(2n+1) {
            background: rgba(0, 0, 0, 0.15);
        }

        div.item-body {
            margin: 5px 10px;
        }

        a.item-delete {
            margin-right: 10px;
            align-self: center;
        }
    }
}


/*
 *   Element Styles
 */

body {
    font-family: Bitter, sans-serif;
    font-weight: 500;
    font-size: 14px;
}


// All Table Formatting:
table {

    th {
        &:hover {
            .item-add-popup {
                transition: opacity 0.5s;
                opacity: 1;
            }
        }

        .item-add-popup {
            transition: opacity 0.5s;
            opacity: 0.1;
        }
    }

    tr:nth-child(even) {
        background-color: initial;
    }

    td, th {
        padding: 5px;
    }

    td:first-child {
        padding-left: 5px;
    }
}

h1, h2, h3, h4 {
    font-weight: bold;
}

select {
    font-family: Bitter, Lucida Console, monospace;
    font-weight: 600;
    font-size: 15px;
    border-radius: 0px;
    border: 1px solid $mud;
}

option {
    font-weight: 600;
}

input[type="text"], input[type="number"], input[type="password"],
input[type="date"], input[type="time"], input[type="range"] {
    font-weight: 600;
    border: 1px solid $mud;
    border-radius: 0;
}

textarea {
    color: $bloody;
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: Bitter;
    font-weight: 600;
    min-height: 80px;
}


/*
 *   Button Styles
 */

%button-base {
    background: $mud;
    border-top: 1px outset $orange;
    border-bottom: 2px outset $orange;
    border-left: 2px solid darkslategrey;
    border-right: 2px solid darkslategrey;

    &:hover, &:focus {
        outline: none;
        box-shadow: 0 0 5px $orange;
        background: $orange;
    }
}

// TO DO: Maybe move properties to base & use button as base
button {
    @extend %button-base;
    font-family: Bitter, sans-serif;
    font-weight: 500;
    color: $bone;
    transition-duration: $transition-period;
}

.dialog .dialog-buttons button {
    @extend %button-base;
}

// TO DO: Evaluate if needed
* * form button {
    @extend %button-base;
}

.dialog .dialog-buttons button.default {
    @extend %button-base;
}


/*
 *  Label Styles
 */

.label-stripe {
    text-transform: uppercase;
    background-color: $mud;
    color: $almost_white;
    margin-bottom: 10px;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    font-weight: bold;
    font-size: medium;

    &:hover {
        .item-add-popup {
            transition: opacity 0.5s;
            opacity: 1;
        }
    }

    .item-add-popup {
        transition: opacity 0.5s;
        opacity: 0.1;
    }
}

.black-label {
    background-color: $mud;
    color: $almost_white;
    font-size: 18px;
    text-align: center;
    padding: 4px 5px;
    height: 30px !important;
    text-transform: capitalize;
    text-shadow: 0 2px $darkmud;
}


/*
 *  Name & Profile Picture Style
 */

.large-name input[type="text"] {
    min-width: 370px;
    height: 52px;
    border: none;
    font-family: Blood Crow;
    font-size: 55px;
    font-weight: normal;
    color: $mud;
    background: none;
    text-shadow: 0 1px 2px $orange;
    text-overflow: ellipsis;
}

.profile-img {
    border: none;
    background: url(../styles/assets/images/background-light.png) repeat $bloodyShadow;
    background-blend-mode: color-burn;
    object-fit: cover;

    &.profile-big {
        margin: 0px 5px;
        height: 200px;
        width: 200px;
        max-width: fit-content;
    }
}


/*
 *  Clock Styles
 */

label.clock-zero-label {
    color: $almost_black;

    i.nullifier {
        @include changeable($transition-period, $hover-brightness, $hover-opacity, $highlight_red);
    }
}

.clock-block {
    .clocks {
        &.clocks-4 {
            @include clock(4, 200);
        }

        &.clocks-6 {
            @include clock(6, 200);
        }

        &.clocks-8 {
            @include clock(8, 200);
        }
    }

    .blades-clock-name-type {

        > * {
            margin-bottom: 10px;
            max-width: 220px;
        }
    }
}


/*
 *  Item Styles
 */

// TO DO: Split A, DIV and TR items
.item {
    justify-content: space-between;

    .item-body {
        // margin-bottom: 10px;  // causes problems with Dark Impulses, Monster Race, Calling and Revelry
        // margin-right: 10px;
        .item-description {
            font-style: italic;
            text-align: justify;
        }
    }

    .item-special-feature {
        margin: 0px 10px;
        border-radius: 20px;
        background: $mud3f;
        padding: 10px;
    }

    .missing-materials {
        color: $gray;
    }

    div {
        flex-grow: 2;
    }

    .item-class-label {
        margin-bottom: 10px;
    }
}

// Display all Item Names in Bold
.item-name {
    text-align: center;
    font-weight: 500;
    font-family: Piedra;
    font-size: 20px;
    padding: 0px 10px;
}

// Special Abilities
#abilities, #loadout {

    .item-body {
        width: auto;
        font-weight: 500;
    }
}

// Special Abilities List
#abilities-list, #loadout {
    div.item-name {
        flex-basis: 25%;
    }

    div.item-description {
        width: fit-content;
    }
}

// Show Trash bins on hover over ancestor
div.item, tr.item {
    &:hover {
        i.fa-trash {
            transition: opacity 1s;
            opacity: 0.5;
        }
    }

    i.fa-trash {
        transition: opacity 1s;
        opacity: 0;
    }
}

// Item Add Buttons
.item-add-popup {
    padding-left: 10px;
    font-weight: 700;
}

.item-class-label {
    margin-bottom: 0px;
}


.tabs .item.active {
    font-weight: 700;
    color: $bloody;
    text-shadow: 2px 2px 7px $orange;
}

// Rollable Text in Abilities List
#abilities-list div.item-rollable-text > div > div {
    font-size: 16px;
    font-weight: 700;
    margin-top: 5px;
}


/*
 *  Other Class Styles
 */

.hidden {
    display: none;
}

// Highlight for elements triggering die rolls
// TO DO: Maybe use changeable
.rollable-text {
    transition: color $transition-period;

    &:hover {
        cursor: pointer;
        color: $highlight_red;
    }
}

// Minimum Size for TinyMCE Editor Box
// TO DO: Reduce size?
.editor,
.editor-content {
    min-height: 280px;
    background: rgba(0,0,0,0.05);
}

// Styling for opened compendia and directories
.compendium .directory-list .directory-item {
    padding: 3px 0;
    line-height: 48px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid $bloody5c;
    box-shadow: none;
}


/*
 *  Tooltip Styles
 */

.tooltip {

    .tooltiptext {
        visibility: hidden;
        position: absolute;
        width: fit-content;
        max-width: 300px;
        font-weight: 600;
        font-family: Bitter;
        background: url(../styles/assets/images/background-light.png) repeat;
        color: $bloody;
        font-size: 16px;
        text-align: justify;
        border: 2px solid $bloody;
        padding: 10px;
        border-radius: 4px;
        z-index: 9999;
        text-transform: none;
        text-shadow: none;
    }

    .tooltipslow {
        opacity: 0;
        transition: visibility 0.1s, opacity 0.1s;
        transition-delay: 0.1s;
    }

    &:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
        transition: visibility 0.5s, opacity 0.5s;
        transition-delay: 1s;
    }
}

