<form class="{{cssClass}} clock-block" autocomplete="off">

    <div class="flexcol blades-clock-name-type">
        {{#if editable}}
        <input type="text" id="{{id}}-clock-name" name="name" value="{{name}}">

        <select data-type="String" name="system.type">
            {{#select system.type}}
            <option value="4">4</option>
            <option value="6">6</option>
            <option value="8">8</option>
            {{/select}}
        </select>
        {{/if}}

        <div class="clocks clocks-{{system.type}}">
            {{{blades-clock "system.value" system.type system.value _id}}}
        </div>
    </div>
</form>