<form class="{{cssClass}} actor-sheet" autocomplete="off">


  {{!-- Base Character Information --}}
  <section id="base-info" class="section big-teeth-section">
    <table>
      <tr>
        <td>
          <div id="name">
            <label for="character-{{actor._id}}-name">{{localize "FITD.Name"}}</label>
            <input type="text" id="character-{{actor._id}}-name" name="name" value="{{actor.name}}">
          </div>
        </td>
        <td>
          <div id="minionpack">
            <label for="character-{{actor._id}}-minionpack">{{localize "FITD.MinionPack"}}</label>
            <input type="text" id="character-{{actor._id}}-minionpack" name="data.minionpack" value="{{data.minionpack}}">
          </div>
        </td>
        <td rowspan="4">
          <img class="profile-img profile-big" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
        </td>
      </tr>
      <tr>
        <td>
          <div id="look">
            <label for="character-{{actor._id}}-look">{{localize "FITD.Look"}}</label>
            <input type="text" id="character-{{actor._id}}-look" name="data.look" value="{{data.look}}">
            </div>
        </td>
        <td>
          <div id="vilefriend">
            <label for="character-{{actor._id}}-vilefriend">{{localize "FITD.VileFriend"}}</label>
            <input type="text" id="character-{{actor._id}}-vilefriend" name="data.vilefriend" value="{{data.vilefriend}}">
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="item-block flex-vertical">
            <div class="item-class-label"><a class="item-add-popup" data-distinct="true" data-item-type="monsterrace">{{localize "FITD.MonsterRace"}}</a></div>
            {{#each actor.items as |item id|}}
            {{#if (eq item.type "monsterrace")}}
            <div class="item flex-horizontal" data-item-id="{{item._id}}">
              <div class="item-body flex-horizontal">
                <img src="{{item.img}}" title="{{item.name}}" width="24" height="24" />
                <div class="item-name">{{item.name}}</div>
              </div>
              <a class="item-control item-delete" title="{{localize 'FITD.TitleDeleteItem'}}"><i class="fas fa-trash"></i></a>
            </div>
            {{/if}}
            {{/each}}
          </div>
        </td>
        <td>
          <div id="character-{{actor._id}}-gold" class="big-teeth">
            {{#multiboxes data.gold}}
            <input type="radio" id="character-{{actor._id}}-gold-0" name="data.gold" value="0" dtype="Radio">
            <label class="black-label" for="character-{{actor._id}}-gold-0">{{localize "FITD.Coin"}}</label>

            {{#times_from_1 3}}
            <input type="radio" id="character-{{../actor._id}}-gold-{{this}}" name="data.gold" value="{{this}}" dtype="Radio">
            <label for="character-{{../actor._id}}-gold-{{this}}"></label>
            {{/times_from_1}}

            {{/multiboxes}}
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="item-block flex-vertical">
            <div class="item-class-label"><a class="item-add-popup" data-distinct="true" data-item-type="calling">{{localize "FITD.Calling"}}</a></div>
            {{#each actor.items as |item id|}}
            {{#if (eq item.type "calling")}}
            <div class="item flex-horizontal" data-item-id="{{item._id}}">
              <div class="item-body flex-horizontal">
                <img src="{{item.img}}" title="{{item.name}}" width="24" height="24" />
                <div class="item-name">{{item.name}}</div>
              </div>
              <a class="item-control item-delete" title="{{localize 'FITD.TitleDeleteItem'}}"><i class="fas fa-trash"></i></a>
            </div>
            {{/if}}
            {{/each}}
          </div>
        </td>
        <td>
          <div id="character-{{actor._id}}-recklessxp" class="big-teeth">
            {{#multiboxes data.recklessxp.value}}
            <input type="radio" id="character-{{actor._id}}-recklessxp-0" name="data.recklessxp.value" value="0" dtype="Radio">
            <label class="black-label" for="character-{{actor._id}}-recklessxp-0">{{localize data.recklessxp.name}}</label>

            {{#times_from_1 data.recklessxp.max}}
            <input type="radio" id="character-{{../actor._id}}-recklessxp-{{this}}" name="data.recklessxp.value" value="{{this}}" dtype="Radio">
            <label for="character-{{../actor._id}}-recklessxp-{{this}}"></label>
            {{/times_from_1}}

            {{/multiboxes}}
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="item-block flex-vertical">
            <div class="item-class-label"><a class="item-add-popup" data-distinct="true" data-item-type="revelry">{{localize "FITD.Revelry"}}</a></div>
            {{#each actor.items as |item id|}}
            {{#if (eq item.type "revelry")}}
            <div class="item flex-horizontal" data-item-id="{{item._id}}">
              <div class="item-body flex-horizontal">
                <img src="{{item.img}}" title="{{item.name}}" width="24" height="24" />
                <div class="item-name">{{item.name}}</div>
              </div>
              <a class="item-control item-delete" title="{{localize 'FITD.TitleDeleteItem'}}"><i class="fas fa-trash"></i></a>
            </div>
            {{/if}}
            {{/each}}
          </div>
        </td>
        <td colspan="2">
          <div id="character-{{actor._id}}-wickedxp" class="big-teeth">
            {{#multiboxes data.wickedxp.value}}
            <input type="radio" id="character-{{actor._id}}-wickedxp-0" name="data.wickedxp.value" value="0" dtype="Radio">
            <label class="black-label" for="character-{{actor._id}}-wickedxp-0">{{localize data.wickedxp.name}}</label>

            {{#times_from_1 data.wickedxp.max}}
              <input type="radio" id="character-{{../actor._id}}-wickedxp-{{this}}" name="data.wickedxp.value" value="{{this}}" dtype="Radio">
              <label for="character-{{../actor._id}}-wickedxp-{{this}}"></label>
            {{/times_from_1}}

            {{/multiboxes}}
          </div>
        </td>
      </tr>
    </table>
  </section>


  {{!-- Defenses, Stress Clock & Impulses --}}
  <section id="defenses-stress">
    <div id="character-defenses">
      <table>
        <thead>
          <tr>
            <th class="black-white">
              {{localize "FITD.Defenses"}} <a class="item-add-popup" data-distinct="false" data-item-type="defense"><i class="fas fa-plus-square"></i></a>
            </th>
            <th class="black-white">{{localize "FITD.Stress"}}</th>
            <th class="black-white">
              {{localize "FITD.Impulse"}} <a class="item-add-popup" data-distinct="false" data-item-type="wickedimpulse"><i class="fas fa-plus-square"></i></a>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div class="item-block flex-vertical">
                {{#each actor.items as |item id|}}
                {{#if (eq item.type "defense")}}
                <div class="item flex-horizontal" data-item-id="{{item._id}}">
                  <div class="item-checkmark">
                    <input type="checkbox" id="item-{{item._id}}-checked" value="{{item.data.checked}}" {{checked item.data.checked}}>
                    <label for="item-{{item._id}}-checked"></label>
                  </div>
                  <div class="item-body flex-horizontal">
                    <img src="{{item.img}}" title="{{item.name}}" width="24" height="24" />
                    <div class="item-name">{{item.name}}</div>
                  </div>
                  <a class="item-control item-delete" title="{{localize 'FITD.TitleDeleteItem'}}"><i class="fas fa-trash"></i></a>
                </div>
                {{/if}}
                {{/each}}
              </div>
            </td>
            <td>
              <div id="character-stress-clock">
                {{{blades-clock "data.stress_clock" 6 data.stress_clock actor._id}}}
              </div>
            </td>
            <td>
              <div class="item-block flex-vertical">
                {{#each actor.items as |item id|}}
                  {{#if (eq item.type "wickedimpulse")}}
                  <div class="item flex-horizontal" data-item-id="{{item._id}}">
                    <div class="item-body flex-horizontal">
                      <img src="{{item.img}}" title="{{item.name}}" width="24" height="24" />
                      <div class="item-name">{{item.name}}</div>
                    </div>
                    <a class="item-control item-delete" title="{{localize 'FITD.TitleDeleteItem'}}"><i class="fas fa-trash"></i></a>
                  </div>
                  {{/if}}
                {{/each}}
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>


  {{!-- Navigation, Tabs & Attributes --}}
  <section class="flex-horizontal">

    <div id="wo-nav-container" class="tab-content flex-vertical grow-two">

      {{!-- Nav menu --}}
      <nav class="tabs flex-horizontal">
        <a class="item" data-tab="abilities">{{localize "FITD.Abilities"}}</a>
        <a class="item" data-tab="loadout">{{localize "FITD.Loadout"}}</a>
        <a class="item" data-tab="duties">{{localize "FITD.DutiesProjects"}}</a>
        <a class="item" data-tab="character-notes">{{localize "FITD.Notes"}}</a>
        <a class="item" data-tab="all-character-items">{{localize "FITD.AllItems"}}</a>
      </nav>

      {{!-- Special Abilities Tab --}}
      <div id="abilities" class="tab flex-vertical" data-tab="abilities">
        <div class="label-stripe">
          <p><label for="character-{{actor._id}}-experience-0">{{localize "FITD.Abilities"}}</label></p>
          <p><a class="item-add-popup" data-item-type="ability"><i class="fas fa-plus-square"></i></a></p>
        </div>

        <div id="abilities-list">
          {{#each actor.items as |item id|}}
          {{#if (eq item.type "ability")}}
          <div class="item flex-horizontal" data-item-id="{{item._id}}">
            <div class="item-body flex-horizontal">
              <b><div class="item-name">{{item.name}}</div></b>
              <div class="item-description">{{item.data.description}}</div>
            </div>
            <a class="item-control item-delete" title="{{localize 'FITD.TitleDeleteItem'}}"><i class="fas fa-trash"></i></a>
          </div>
          {{/if}}
          {{/each}}
          <div class="item-class-label"><a class="item-add-popup" data-item-type="ability">{{localize "FITD.AddAbility"}}</a></div>
        </div>
      </div>

      {{!-- Gear & Supply Tab --}}
      <div id="loadout" class="tab flex-vertical" data-tab="loadout">
        <div class="label-stripe flex-horizontal">
          <p>{{localize "FITD.Gear"}}</p>
          <p><a class="item-add-popup" data-item-type="gear"><i class="fas fa-plus-square"></i></a></p>
        </div>
        <div>
          {{#each actor.items as |item id|}}
          {{#if (eq item.type "gear")}}
          <div class="item flex-horizontal" data-item-id="{{item._id}}">
            <div class="item-body flex-horizontal">
              <img src="{{item.img}}" title="{{item.name}}" width="24" height="24" />
              <div class="item-name">{{item.name}}</div>
              <div class="item-description">{{item.data.description}}</div>
            </div>
            <a class="item-control item-delete" title="{{localize 'FITD.TitleDeleteItem'}}"><i class="fas fa-trash"></i></a>
          </div>
          {{/if}}
          {{/each}}
          <div class="item-class-label"><a class="item-add-popup" data-item-type="gear">{{localize "FITD.AddItem"}}</a></div>
        </div>
        <div class="label-stripe flex-horizontal">
          <p>{{localize "FITD.Supply"}}</p>
          <p><a class="item-add-popup" data-item-type="supply"><i class="fas fa-plus-square"></i></a></p>
        </div>
        <div>
          {{#each actor.items as |item id|}}
          {{#if (eq item.type "supply")}}
          <div class="item flex-horizontal" data-item-id="{{item._id}}">
            <div class="item-body flex-horizontal">
              <img src="{{item.img}}" title="{{item.name}}" width="24" height="24" />
              <div class="item-name">{{item.name}}</div>
              <div class="item-description">{{item.data.description}}</div>
            </div>
            <a class="item-control item-delete" title="{{localize 'FITD.TitleDeleteItem'}}"><i class="fas fa-trash"></i></a>
          </div>
          {{/if}}
          {{/each}}
          <div class="item-class-label"><a class="item-add-popup" data-item-type="supply">{{localize "FITD.AddItem"}}</a></div>
        </div>
      </div>

      {{!-- Duties & Projects Tab --}}
      <div id="duties" class="tab flex-vertical" data-tab="duties">
        <div class="label-stripe flex-horizontal">
          <p>{{localize "FITD.Duties"}}</p>
          <p><a class="item-add-popup" data-item-type="duty"><i class="fas fa-plus-square"></i></a></p>
        </div>
        <div>
          {{#each actor.items as |item id|}}
          {{#if (eq item.type "duty")}}
          <div class="item flex-horizontal" data-item-id="{{item._id}}">
            <div class="item-body flex-horizontal">
              <img src="{{item.img}}" title="{{item.name}}" width="24" height="24" />
              <div class="item-name">{{item.name}}</div>
              <div class="item-description">{{item.data.description}}</div>
            </div>
            <a class="item-control item-delete" title="{{localize 'FITD.TitleDeleteItem'}}"><i class="fas fa-trash"></i></a>
          </div>
          {{/if}}
          {{/each}}
          <div class="item-class-label"><a class="item-add-popup" data-item-type="duty">{{localize "FITD.AddItem"}}</a></div>
        </div>
        <div class="label-stripe flex-horizontal">
          <p>{{localize "FITD.Projects"}}</p>
          <p><a class="item-add-popup" data-item-type="project"><i class="fas fa-plus-square"></i></a></p>
        </div>
        <div>
          {{#each actor.items as |item id|}}
          {{#if (eq item.type "project")}}
          <div class="item flex-horizontal" data-item-id="{{item._id}}">
            <div class="item-body flex-horizontal">
              <img src="{{item.img}}" title="{{item.name}}" width="24" height="24" />
              <div class="item-name">{{item.name}}</div>
              <div class="item-description">{{item.data.description}}</div>
            </div>
            <a class="item-control item-delete" title="{{localize 'FITD.TitleDeleteItem'}}"><i class="fas fa-trash"></i></a>
          </div>
          {{/if}}
          {{/each}}
          <div class="item-class-label"><a class="item-add-popup" data-item-type="project">{{localize "FITD.AddItem"}}</a></div>
        </div>
      </div>

      {{!-- Notes Tab --}}
      <div class="tab flex-vertical" data-tab="character-notes">
        <div class="label-stripe">
          <p>{{localize "FITD.Notes"}}</p>
        </div>
        <textarea rows="13" name="data.description">{{{data.description}}}</textarea>
      </div>

      {{!-- Full Item List --}}
      <div class="tab grow-two flex-vertical" data-tab="all-character-items">
        <div class="label-stripe">
          <p><label>{{localize "FITD.AllItems"}}</label></p>
        </div>
        {{#each actor.items as |item id|}}
        <div class="item flex-horizontal" data-item-id="{{item._id}}">
          <div class="item-body item-sheet-open flex-horizontal">
            <img src="{{item.img}}" title="{{item.name}}" width="24" height="24" />
            <div class="item-name">{{item.name}}</div>
          </div>
          <a class="item-control item-delete" title="{{localize 'FITD.TitleDeleteItem'}}"><i class="fas fa-trash"></i></a>
        </div>
        {{/each}}
      </div>

    </div>
    {{!-- Attributes --}}
    {{> "systems/wicked-ones/templates/parts/attributes.html" actor=actor}}
  </section>

</form>
