<div class="dice-tooltip blades-die-tooltip">
  <div class="die {{roll_status}}">
    {{#if attribute_name}}Roll {{attribute_name}}: {{/if}}
    {{#if (eq roll_status "critical-success")}}
    Critical Success!
    {{/if}}

    {{#if (eq roll_status "success")}}
    Success!
    {{/if}}

    {{#if (eq roll_status "partial-success")}}
    Partial Success
    {{/if}}

    {{#if (eq roll_status "failure")}}
    Failure
    {{/if}}

  <ol class="dice-rolls">
    {{#each this.rolls}}
      <li class="roll die d6">{{{this.roll}}}</li>
    {{/each}}
</ol>
</div>
