<form class="{{cssClass}} actor-sheet" autocomplete="off">

  <section class="flex-horizontal">

    <img src="{{img}}" data-edit="img" title="{{name}}" height="100" width="100"/>

    <div id="crew-{{_id}}-name-alias" class="crew-name-alias grow-two flex-column">
      <div id="crew-{{_id}}-name-box" class="crew-name">
        <label for="crew-{{_id}}-name">{{localize "BITD.Name"}}</label>
        <input type="text" id="crew-{{_id}}-name" name="name" value="{{name}}">
      </div>

      <div class="flex-vertical">
        <div class="item-class-label">
          <a class="item-add-popup" data-distinct="true" data-item-type="crew_reputation">{{localize "BITD.CrewReputation"}}</a>
        </div>
        {{#each items as |item id|}}
        {{#if (eq item.type "crew_reputation")}}
          <div class="item flex-horizontal" data-item-id="{{item._id}}">
            <div class="item-body item-sheet-open flex-horizontal">
              <img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
              <div class="item-name">{{item.name}}</div>
            </div>
            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
          </div>
        {{/if}}
        {{/each}}
      </div>
    </div>

    <div class="grow-two flex-vertical">
      <div id="crew-{{_id}}-lair-box" class="lair">
        <label for="crew-{{_id}}-lair">{{localize "BITD.Lair"}}</label>
        <input type="text" id="crew-{{_id}}-lair" name="system.lair" value="{{system.lair}}">
      </div>


      <div class="flex-horizontal">
        <div id="crew-{{_id}}-hold-box" class="flex-horizontal crew-hold">
          <div class="black-label">{{localize "BITD.Hold"}}</div>
          {{#multiboxes system.hold}}
          <div class="flex-horizontal">
            <div class="gray-label">{{localize "BITD.Weak"}}</div>
            <input id="crew-{{_id}}-hold-weak" type="radio" name="system.hold" value="weak">
            <label for="crew-{{_id}}-hold-weak"></label>
          </div>
          <div class="flex-horizontal">
            <div class="gray-label">{{localize "BITD.Strong"}}</div>
            <input id="crew-{{_id}}-hold-strong" type="radio" name="system.hold" value="strong">
            <label for="crew-{{_id}}-hold-strong"></label>
          </div>
          {{/multiboxes}}
        </div>

        <div class="crew-tier">
          {{#multiboxes system.tier}}
          <input id="crew-{{_id}}-tier-0" type="radio" name="system.tier" value="0">
          <label for="crew-{{_id}}-tier-0" class="black-label">{{localize "BITD.Tier"}}</label>
          <input id="crew-{{_id}}-tier-1" type="radio" name="system.tier" value="1">
          <label for="crew-{{_id}}-tier-1"></label>
          <input id="crew-{{_id}}-tier-2" type="radio" name="system.tier" value="2">
          <label for="crew-{{_id}}-tier-2"></label>
          <input id="crew-{{_id}}-tier-3" type="radio" name="system.tier" value="3">
          <label for="crew-{{_id}}-tier-3"></label>
          <input id="crew-{{_id}}-tier-4" type="radio" name="system.tier" value="4">
          <label for="crew-{{_id}}-tier-4"></label>
          {{/multiboxes}}
        </div>
      </div>

    </div>
  </section>


  <section class="flex-horizontal">
    <div id="crew-{{_id}}-reputation" class="crew-reputation">
      {{#multiboxes system.reputation}}
      {{#repturf system.turfs_amount}}
      <input type="radio" id="crew-{{../_id}}-reputation-0" name="system.reputation" value="0" dtype="Radio">
      <label class="black-label" for="crew-{{../_id}}-reputation-0">{{localize "BITD.Rep"}}</label>
      <input type="radio" id="crew-{{../_id}}-reputation-1" name="system.reputation" value="1" dtype="Radio">
      <label for="crew-{{../_id}}-reputation-1"></label>
      <input type="radio" id="crew-{{../_id}}-reputation-2" name="system.reputation" value="2" dtype="Radio">
      <label for="crew-{{../_id}}-reputation-2"></label>
      <input type="radio" id="crew-{{../_id}}-reputation-3" name="system.reputation" value="3" dtype="Radio">
      <label for="crew-{{../_id}}-reputation-3"></label>
      <input type="radio" id="crew-{{../_id}}-reputation-4" name="system.reputation" value="4" dtype="Radio">
      <label for="crew-{{../_id}}-reputation-4"></label>
      <input type="radio" id="crew-{{../_id}}-reputation-5" name="system.reputation" value="5" dtype="Radio">
      <label for="crew-{{../_id}}-reputation-5"></label>
      <input type="radio" id="crew-{{../_id}}-reputation-6" name="system.reputation" value="6" dtype="Radio">
      <label for="crew-{{../_id}}-reputation-6"></label>
      <input type="radio" id="crew-{{../_id}}-reputation-7" name="system.reputation" value="7" dtype="Radio">
      <label for="crew-{{../_id}}-reputation-7"></label>
      <input type="radio" id="crew-{{../_id}}-reputation-8" name="system.reputation" value="8" dtype="Radio">
      <label for="crew-{{../_id}}-reputation-8"></label>
      <input type="radio" id="crew-{{../_id}}-reputation-9" name="system.reputation" value="9" dtype="Radio" >
      <label for="crew-{{../_id}}-reputation-9"></label>
      <input type="radio" id="crew-{{../_id}}-reputation-10" name="system.reputation" value="10" dtype="Radio" >
      <label for="crew-{{../_id}}-reputation-10"></label>
      <input type="radio" id="crew-{{../_id}}-reputation-11" name="system.reputation" value="11" dtype="Radio" >
      <label for="crew-{{../_id}}-reputation-11"></label>
      <input type="radio" id="crew-{{../_id}}-reputation-12" name="system.reputation" value="12" dtype="Radio" >
      <label for="crew-{{../_id}}-reputation-12"></label>
      {{/repturf}}
      {{/multiboxes}}
      <div class="gray-label">{{localize "BITD.Turf"}}</div>
    </div>

    {{!-- Coins --}}
    <div id="crew-{{_id}}-coins" class="crew-coins-container">

      <div id="crew-{{_id}}-coins-hands" class="crew-coins-hands">
        <div class="stripe">
          <label for="crew-{{_id}}-coins-hands-0">{{localize "BITD.Coins"}} <i class="fab fa-creative-commons-zero nullifier"></i></label>
        </div>
        <div class="crew-coins coins-hands">
          {{#multiboxes system.coins.value}}
          <input type="radio" id="crew-{{_id}}-coins-hands-0" name="system.coins.value" value="0" checked>
          <input type="radio" id="crew-{{_id}}-coins-hands-1" name="system.coins.value" value="1">
          <label for="crew-{{_id}}-coins-hands-1"></label>
          <input type="radio" id="crew-{{_id}}-coins-hands-2" name="system.coins.value" value="2">
          <label for="crew-{{_id}}-coins-hands-2"></label>
          <input type="radio" id="crew-{{_id}}-coins-hands-3" name="system.coins.value" value="3">
          <label for="crew-{{_id}}-coins-hands-3"></label>
          <input type="radio" id="crew-{{_id}}-coins-hands-4" name="system.coins.value" value="4">
          <label for="crew-{{_id}}-coins-hands-4"></label>
          {{/multiboxes}}
        </div>
      </div>

      {{#if system.vault.max}}
      <div id="crew-{{_id}}-coins-vault" class="crew-coins-vault">

        <div class="stripe">
          <label for="crew-{{_id}}-coins-vault-0">{{localize "BITD.Vault"}} <i class="fab fa-creative-commons-zero nullifier"></i></label>
        </div>
        <div class="crew-coins coins-vault">
          {{#multiboxes system.vault.value}}
          <input type="radio" id="crew-{{_id}}-coins-vault-0" name="system.vault.value" value="0" checked="checked">
          {{#crew_vault_coins system.vault.max}}{{/crew_vault_coins}}
          {{/multiboxes}}
        </div>

      </div>
      {{/if}}

    </div>

    {{!-- Heat/Wanted --}}
    <div id="crew-{{_id}}-heat-wanted" class="flex-horizontal big-teeth-section crew-heat-wanted">

      <div id="crew-{{_id}}-heat" class="big-teeth">
        {{#multiboxes system.heat}}
        <input type="radio" id="crew-{{_id}}-heat-0" name="system.heat" value="0" dtype="Radio">
        <label class="black-label" for="crew-{{_id}}-heat-0">{{localize "BITD.Heat"}}</label>
        <input type="radio" id="crew-{{_id}}-heat-1" name="system.heat" value="1" dtype="Radio">
        <label for="crew-{{_id}}-heat-1"></label>
        <input type="radio" id="crew-{{_id}}-heat-2" name="system.heat" value="2" dtype="Radio">
        <label for="crew-{{_id}}-heat-2"></label>
        <input type="radio" id="crew-{{_id}}-heat-3" name="system.heat" value="3" dtype="Radio">
        <label for="crew-{{_id}}-heat-3"></label>
        <input type="radio" id="crew-{{_id}}-heat-4" name="system.heat" value="4" dtype="Radio">
        <label for="crew-{{_id}}-heat-4"></label>
        <input type="radio" id="crew-{{_id}}-heat-5" name="system.heat" value="5" dtype="Radio">
        <label for="crew-{{_id}}-heat-5"></label>
        <input type="radio" id="crew-{{_id}}-heat-6" name="system.heat" value="6" dtype="Radio">
        <label for="crew-{{_id}}-heat-6"></label>
        <input type="radio" id="crew-{{_id}}-heat-7" name="system.heat" value="7" dtype="Radio">
        <label for="crew-{{_id}}-heat-7"></label>
        <input type="radio" id="crew-{{_id}}-heat-8" name="system.heat" value="8" dtype="Radio">
        <label for="crew-{{_id}}-heat-8"></label>
        <input type="radio" id="crew-{{_id}}-heat-9" name="system.heat" value="9" dtype="Radio">
        <label for="crew-{{_id}}-heat-9"></label>
        {{/multiboxes}}

      </div>
      <div id="crew-{{_id}}-wanted-container" class="small-teeth-container crew-wanted-container">
        {{#multiboxes system.wanted}}
        <div id="crew-{{_id}}-wanted" class="small-teeth-wrap">
          <label class="black-label" for="crew-{{_id}}-wanted-counter-0">{{localize "BITD.Wanted"}}</label>
          <div class="small-teeth">
            <input type="radio" id="crew-{{_id}}-wanted-counter-0" name="system.wanted" value="0">
            <input type="radio" id="crew-{{_id}}-wanted-counter-1" name="system.wanted" value="1">
            <label for="crew-{{_id}}-wanted-counter-1"></label>
            <input type="radio" id="crew-{{_id}}-wanted-counter-2" name="system.wanted" value="2">
            <label for="crew-{{_id}}-wanted-counter-2"></label>
            <input type="radio" id="crew-{{_id}}-wanted-counter-3" name="system.wanted" value="3">
            <label for="crew-{{_id}}-wanted-counter-3"></label>
            <input type="radio" id="crew-{{_id}}-wanted-counter-4" name="system.wanted" value="4">
            <label for="crew-{{_id}}-wanted-counter-4"></label>
          </div>
        </div>
        {{/multiboxes}}
      </div>

    </div>
  </section>

  <section class="flex-horizontal">

    <div class="flex-vertical">

      <div id="crew-{{_id}}-class" class="class-name crew-class">
        {{#each items as |item id|}}
        {{#if (eq item.type "crew_type")}}
        <div class="big-name">{{item.name}}</div>
        <div class="big-description">{{item.system.description}}</div>
        {{/if}}
        {{/each}}
      </div>
      <nav class="tabs flex-horizontal">
        <a class="item" data-tab="turfs">{{localize "BITD.Turfs"}}</a>
        <a class="item" data-tab="upgrades">{{localize "BITD.Upgrades"}}</a>
        <a class="item" data-tab="abilities">{{localize "BITD.Abilities"}}</a>
        <a class="item" data-tab="cohorts">{{localize "BITD.Cohorts"}}</a>
        <a class="item" data-tab="notes">{{localize "BITD.Notes"}}</a>
        <a class="item" data-tab="all-items">{{localize "BITD.AllItems"}}</a>
      </nav>
    </div>


    {{!-- Crew XP --}}
    <div class="flex-vertical">
      <div class="big-teeth-section">
        <div id="crew-{{_id}}-xp" class="big-teeth">
          <label class="black-label" for="crew-{{_id}}-experience-0">{{localize "BITD.CrewXP"}}</label>
          {{#multiboxes system.experience}}
          <input type="radio" id="crew-{{_id}}-experience-0" name="system.experience" value="0" dtype="Radio">
          {{#crew_experience _id}}{{/crew_experience}}
          {{/multiboxes}}
        </div>
      </div>
      <div class="experience-clues-container">
        <div class="experience-clues-description">{{localize "BITD.CrewExpClue1"}}</div>
        <div class="experience-clues">
          {{#each items as |item id|}}
          {{#if (eq item.type "crew_type")}}
          {{html text=item.system.experience_clues}}
          {{/if}}
          {{/each}}
        </div>
      </div>
    </div>

  </section>

  {{!-- Tabs --}}
  <section class="tab-content">

    {{!-- Turfs --}}
    <div class="tab" data-tab="turfs">
      <div class="label-stripe">
        <p><label>{{localize "BITD.Turfs"}}</label></p>
      </div>
      {{#each items as |item id|}}
      {{#if (eq item.type "crew_type")}}
      <div class="item" data-item-id="{{item._id}}">
      {{> "systems/blades-in-the-dark/templates/parts/turf-list.html" _id=../_id turfs_data=item.system.turfs can_edit=false}}
      </div>
      {{/if}}
      {{/each}}
    </div>


    {{!-- Crew Upgrades --}}
    <div id="crew-{{_id}}-upgrades" class="crew-upgrades tab grow-two flex-vertical" data-tab="upgrades">
      <div class="label-stripe flex-horizontal">
        <p>{{localize "BITD.CrewUpgrades"}}</p>
        <p><a class="item-add-popup" data-item-type="crew_upgrade"><i class="fas fa-plus-square"></i></a></p>
      </div>
      {{#each items as |item id|}}
      {{#if (eq item.type "crew_upgrade")}}
        <div class="item flex-horizontal" data-item-id="{{item._id}}">
          <div class="item-body item-sheet-open flex-horizontal">
            <b><div class="item-name">{{item.name}}</div></b>
            <div class="item-description">{{{item.system.description}}}</div>
          </div>
          <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
        </div>
      {{/if}}
      {{/each}}
    </div>

    {{!-- Crew Abilities --}}
    <div id="crew-{{_id}}-abilities" class="crew-abilities tab grow-two flex-vertical" data-tab="abilities">
      <div class="label-stripe flex-horizontal">
        <p>{{localize "BITD.SpecialAbilities"}}</p>
        <p><a class="item-add-popup" data-item-type="crew_ability"><i class="fas fa-plus-square"></i></a></p>
      </div>
      {{#each items as |item id|}}
      {{#if (eq item.type "crew_ability")}}
        <div class="item flex-horizontal" data-item-id="{{item._id}}">
          <div class="item-body item-sheet-open flex-horizontal">
            <b><div class="item-name">{{item.name}}</div></b>
            <div class="item-description">{{{item.system.description}}}</div>
          </div>
          <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
        </div>
      {{/if}}
      {{/each}}
    </div>

    {{!-- Cohorts --}}
    <div id="crew-{{_id}}-cohorts" class="crew-cohorts tab grow-two flex-vertical" data-tab="cohorts">
      <div class="label-stripe flex-horizontal">
        <p>{{localize "BITD.Cohorts"}}</p>
        <p><a class="add-item" data-item-type="cohort"><i class="fas fa-plus-square"></i></a></p>
      </div>
      <div class="cohorts flex-horizontal">
        {{#each items as |item id|}}
          {{#if (eq item.type "cohort")}}

            {{> "systems/blades-in-the-dark/templates/parts/cohort-block.html" item=item}}

          {{/if}}
        {{/each}}
      </div>
    </div>

    {{!-- Notes --}}
    <div id="crew-{{_id}}-notes" class="notes tab grow-two flex-vertical" data-tab="notes">
      <div class="label-stripe">
        <p>{{localize "BITD.Notes"}}</p>
      </div>
      <textarea rows="15" name="system.description">{{{system.description}}}</textarea>
    </div>

    {{!-- Full Item List --}}
    <div class="tab grow-two flex-vertical" data-tab="all-items">
      <div class="label-stripe">
        <p><label>{{localize "BITD.AllItems"}}</label></p>
      </div>
      {{#each items as |item id|}}
      <div class="item flex-horizontal" data-item-id="{{item._id}}">
        <div class="item-body item-sheet-open flex-horizontal">
          <img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
          <div class="item-name">{{item.name}}</div>
        </div>
        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
      </div>
      {{/each}}
    </div>

  </section>


</form>
