<form class="{{cssClass}} actor-sheet" autocomplete="off">

  <div id="name-alias" class="section">
    <div id="name">
      <label for="character-name">Name</label>
      <input type="text" id="character-name" name="name" value="{{actor.name}}">
    </div>
  </div>


  <div>
    {{#each actor.items as |item id|}}
    {{#eq item.type "crew_type"}}
    <div class="item" data-item-id="{{item._id}}">
    {{> "systems/blades-in-the-dark/templates/parts/turf-list.html" turfs_data=item.data.turfs can_edit=false}}
    </div>
    {{/eq}}
    {{/each}}
  </div>

</form>
