<form class="{{cssClass}} actor-sheet" autocomplete="off">

  <section id="name-look" class="flex-horizontal">

    <div class="grow-two">
      <div id="name">
        <!-- <label for="character-{{actor._id}}-name">{{localize "FITD.Name"}}</label> -->
        <input type="text" id="character-{{actor._id}}-name" name="name" value="{{actor.name}}">
      </div>

      <div id="number">
        <label for="character-{{actor._id}}-number">{{localize "FITD.Number"}}</label>
        <input type="text" id="character-{{actor._id}}-number" name="data.number" value="{{data.number}}">
      </div>

      <div class="item-block flex-horizontal">
        <div class="item-class-label"><a class="item-add-popup" data-distinct="true" data-item-type="monster_race">{{localize "FITD.MonsterRace"}}</a></div>
        {{#each actor.items as |item id|}}
        {{#if (eq item.type "monster_race")}}
        <div class="item flex-horizontal" data-item-id="{{item._id}}">
          <div class="item-body flex-horizontal">
            <img src="{{item.img}}" title="{{item.name}}" width="24" height="24" />
            <div class="item-name">{{item.name}}</div>
          </div>
          <a class="item-control item-delete" title="{{localize 'FITD.TitleDeleteItem'}}"><i class="fas fa-trash"></i></a>
        </div>
        {{/if}}
        {{/each}}
      </div>

      <div id="character-traits" class="flex-column">

        <div class="item-block flex-horizontal">
          <div class="item-class-label"><a class="item-add-popup" data-distinct="true" data-item-type="minion_type">{{localize "FITD.Type"}}</a></div>
          {{#each actor.items as |item id|}}
          {{#if (eq item.type "minion_type")}}
          <div class="item flex-horizontal" data-item-id="{{item._id}}">
            <div class="item-body flex-horizontal">
              <img src="{{item.img}}" title="{{item.name}}" width="24" height="24" />
              <div class="item-name">{{item.name}}</div>
            </div>
            <a class="item-control item-delete" title="{{localize 'FITD.TitleDeleteItem'}}"><i class="fas fa-trash"></i></a>
          </div>
          {{/if}}
          {{/each}}
        </div>
      </div>
    </div>

    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="200" width="200" />

  </section>

  <section>

  </section>

  {{!-- Attributes --}}
  <section class="flex-horizontal">
    <div class="tab-content flex-vertical grow-two">
      <div id="minion-impulses" class="flex-vertical">
        <div class="label-stripe">
          <p><label for="character-{{actor._id}}-experience-0">{{localize "FITD.Impulse"}}</label></p>
          <p><a class="item-add-popup" data-item-type="minionimpulse"><i class="fas fa-plus-square"></i></a></p>
        </div>

        <div id="abilities-list">
          {{#each actor.items as |item id|}}
          {{#if (eq item.type "minionimpulse")}}
          <div class="item flex-horizontal" data-item-id="{{item._id}}">
            <div class="item-body flex-horizontal">
              <b><div class="item-name">{{item.name}}</div></b>
              <div class="item-description">{{item.data.description}}</div>
            </div>
            <a class="item-control item-delete" title="{{localize 'FITD.TitleDeleteItem'}}"><i class="fas fa-trash"></i></a>
          </div>
          {{/if}}
          {{/each}}
        </div>
      </div>	
      <div id="abilities" class="flex-vertical">
        <div class="label-stripe">
          <p><label for="character-{{actor._id}}-experience-0">{{localize "FITD.Upgrades"}}</label></p>
          <p><a class="item-add-popup" data-item-type="minion_upgrade"><i class="fas fa-plus-square"></i></a></p>
        </div>

        <div id="abilities-list">
          {{#each actor.items as |item id|}}
          {{#if (eq item.type "minion_upgrade")}}
          <div class="item flex-horizontal" data-item-id="{{item._id}}">
            <div class="item-body flex-horizontal">
              <b><div class="item-name">{{item.name}}</div></b>
              <div class="item-description">{{item.data.description}}</div>
            </div>
            <a class="item-control item-delete" title="{{localize 'FITD.TitleDeleteItem'}}"><i class="fas fa-trash"></i></a>
          </div>
          {{/if}}
          {{/each}}
        </div>
      </div>

    </div>
    {{!-- Attributes --}}
    {{> "systems/wicked-ones/templates/parts/attributes.html" actor=actor}}
  </section>

</form>
