<div class="dice-tooltip blades-die-tooltip">
	{{#if attribute_label}}
		<div class="chat-label label-stripe-chat">{{localize attribute_label}}<div class="label-type">{{localize type}}</div></div>
		{{else}} 
		<div class="chat-label label-stripe-chat">{{localize type}}</div>
	{{/if}}

	{{#if (eq type "FITD.RollAction")}}   
		{{#if (eq position "FITD.PositionDefault")}}   
			{{#if (eq effect "FITD.EffectDefault")}}   
				<!-- If position and effect are default, Equal Footing is displayed for the roll-->
				<div class="chat-label-small label-stripe-chat-small">
				{{{localize "FITD.PosEffEqual"}}}
				</div>
				{{else}}   
				<div class="chat-label-small label-stripe-chat-small">
				{{{localize position}}} | {{{localize effect}}}
				</div>
			{{/if}}
			{{else}}   
			<div class="chat-label-small label-stripe-chat-small">
			{{{localize position}}} | {{{localize effect}}}
			</div>
		{{/if}}
		{{else}} 
		<!-- no Pos or Effect if Roll Type is not Action-->
	{{/if}}

	{{#if (eq roll_status "critical-success")}}
		<div class="die {{roll_status}}">{{{localize "FITD.RollCriticalSuccess"}}}</div>
		<div class="description"><p>{{{localize (concat type "CriticalSuccess")}}}</p></div>
	{{/if}}

	{{#if (eq roll_status "success")}}
		<div class="die {{roll_status}}">{{{localize "FITD.RollSuccess"}}}</div>
		<div class="description"><p>{{{localize (concat type "Success")}}}</p></div>
	{{/if}}

	{{#if (eq roll_status "partial-success")}}
		<div class="die {{roll_status}}">{{{localize "FITD.RollMixedSuccess"}}}</div>
		<div class="description"><p>{{{localize (concat type "MixedSuccess")}}}</p></div>
	{{/if}}

	{{#if (eq roll_status "failure")}}
		<div class="die {{roll_status}}">{{{localize "FITD.RollFailure"}}}</div>
		<div class="description"><p>{{{localize (concat type "Failure")}}}</p></div>
	{{/if}}
	<!-- Extra Notes for Lock or other Types of Rolls-->
	{{#if (eq type "FITD.RollLock")}}
		<div class="description"><p>{{{localize "FITD.RollLockNote"}}}</p></div>
	{{/if}}
	{{#if (eq type "FITD.RollCreature")}}
		<div class="description"><p>{{{localize "FITD.RollCreatureNote"}}}</p></div>
	{{/if}}
	{{#if (eq type "FITD.RollLoot")}}
		<div class="description"><p>{{{localize "FITD.RollLootDescription"}}}</p></div>
	{{/if}}

	<ol class="dice-rolls">
		{{#each this.rolls}}
			{{#if this.result}}
					<li class="wicked-die wd{{{this.result}}}"></li>
				{{else}}
					<li class="wicked-die wd{{{this.roll}}}"></li>
			{{/if}}
		{{/each}}
	</ol>
</div>

