<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'FITD.Name'}}"/></h1>
        </div>
    </header>
    
    {{!-- Sheet Body --}}
    <section class="sheet-body">
      <textarea name="data.description">{{data.description}}</textarea>
    </section>
    <div class="flex-vertical">
      <label class="label-stripe">{{localize "FITD.Calling"}}</label>
      <input id="ability-calling" type="text" name="data.calling" value="{{data.calling}}" placeholder="{{localize 'FITD.Calling'}}">
      <label class="label-stripe">{{localize "FITD.Core"}}</label>
      <input id="ability-core" type="checkbox" name="data.core" {{checked data.core}}>
    </div>
</form>
