<form class="{{cssClass}} item-sheet calling-sheet" autocomplete="off">
  <header class="sheet-header">
      <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
      <div class="header-fields">
          <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'FITD.Name'}}"/></h1>
      </div>
  </header>
  
  <section class="flex-vertical">
    <label class="label-stripe">{{localize "FITD.Description"}}</label>
    <textarea name="data.description" placeholder="{{localize "FITD.DescriptionHint"}}">{{data.description}}</textarea>
    <label class="label-stripe">{{localize "FITD.FlashbackClues"}}</label>
    <textarea name="data.flashback_clues">{{data.flashback_clues}}</textarea>
  </section>

</form>
