<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
      <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
      <div class="header-fields">
          <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'BITD.Name'}}"/></h1>
      </div>
  </header>
  
  <section class="flex-vertical">
    <label class="label-stripe">{{localize "BITD.Description"}}</label>
    <textarea name="data.description">{{data.description}}</textarea>
    <label class="label-stripe">{{localize "BITD.ExpClues"}}</label>
    <div><i>- {{localize "BITD.ClassExpClue1"}}</i></div>
    <div>{{localize "BITD.ClassExpClueDescription"}}</div>
    <div><i>- {{localize "BITD.ClassExpClue2"}}</i></div>
    <div><i>- {{localize "BITD.ClassExpClue3"}}</i></div>
    <textarea name="data.experience_clues">{{data.experience_clues}}</textarea>

    {{isG}}
    <label class="label-stripe">{{localize "BITD.Logic"}}</label>
    <textarea name="data.logic">{{data.logic}}</textarea>
  </section>

</form>
