<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{img}}" data-edit="img" title="{{name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{name}}" placeholder="{{localize 'BITD.Name'}}"/></h1>
        </div>
    </header>

    {{!-- Sheet Body --}}
    <section class="sheet-body flex">
      {{editor system.description target="system.description" button=true editable=editable}}
    </section>

    <div class="flex-vertical">
      <label class="label-stripe">{{localize "BITD.AbilityPrice"}}</label>
      <input id="ability-price" type="text" name="system.price" value="{{system.price}}" placeholder="{{localize 'BITD.AbilityPrice'}}">
      <label class="label-stripe">{{localize "BITD.AbilityClass"}}</label>
      <input id="ability-class" type="text" name="system.class" value="{{system.class}}" placeholder="{{localize 'BITD.AbilityClass'}}">
      {{#if isGM}}
        <div class="label-stripe">{{localize "BITD.Logic"}}</div>
        <textarea name="system.logic">{{{system.logic}}}</textarea>
        <div class="label-stripe">{{localize "BITD.Effects"}}</div>
        <div id="effects">{{> "systems/blades-in-the-dark/templates/parts/active-effects.html"}}</div>
      {{/if}}
    </div>
</form>
