<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
      <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
      <div class="header-fields">
          <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'BITD.Name'}}"/></h1>
      </div>
  </header>

  <section class="flex-vertical">
    <label class="label-stripe">{{localize "BITD.Description"}}</label>
    <textarea name="data.description">{{data.description}}</textarea>
    <label class="label-stripe">{{localize "BITD.ExpClues"}}</label>
    <textarea name="data.experience_clues">{{data.experience_clues}}</textarea>
  </section>

  {{> "systems/wicked-ones/templates/parts/turf-list.html" turfs_data=data.turfs can_edit=true editable=editable}}
</form>
