<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'FITD.Name'}}"/></h1>
        </div>
    </header>
    
    {{!-- Sheet Body --}}
    <section class="sheet-body flex-vertical">
      <textarea name="data.description">{{data.description}}</textarea>
      <label class="label-stripe">{{localize "FITD.Loadout"}}</label>
      <input id="item-load" type="text" name="data.load" value="{{data.load}}">
      <label class="label-stripe">{{localize "FITD.Calling"}}</label>
      <input id="item-class" type="text" name="data.class" value="{{data.class}}">
    </section>
</form>
