<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{img}}" data-edit="img" title="{{name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{name}}" placeholder="{{localize 'BITD.Name'}}"/></h1>
        </div>
    </header>

    {{!-- Sheet Body --}}
    <section class="sheet-body flex-vertical">
      {{editor system.description target="system.description" button=true editable=editable}}
      <label class="label-stripe">{{localize "BITD.Loadout"}}</label>
      <input id="item-load" type="text" name="system.load" value="{{system.load}}">
      <label class="label-stripe">{{localize "BITD.Class"}}</label>
      <input id="item-class" type="text" name="system.class" value="{{system.class}}">
      <label class="label-stripe">{{localize "BITD.Uses"}}</label>
      <input id="item-uses" type="text" name="system.uses" value="{{system.uses}}">
      <label class="label-stripe">{{localize "BITD.NumberAvailable"}}</label>
      <input id="item-num_available" type="text" name="system.num_available" value="{{system.num_available}}">
      <label class="label-stripe">{{localize "BITD.AdditionalInfo"}}</label>
      <textarea id="item-additional_info" type="text" name="system.additional_info" value="">{{system.additional_info}}</textarea>
      {{#if isGM}}
<!--         <div class="label-stripe">{{localize "BITD.Logic"}}</div> -->
<!--         <textarea name="system.logic">{{{system.logic}}}</textarea> -->
        <div class="label-stripe">{{localize "BITD.Effects"}}</div>
        <div id="effects">{{> "systems/blades-in-the-dark/templates/parts/active-effects.html"}}</div>
      {{/if}}
    </section>
</form>
