<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'FITD.Name'}}" /></h1>
    </div>
  </header>

  {{!-- Sheet Body --}}
<section class="sheet-body flex-vertical">
  <label class="label-stripe">{{localize "FITD.ClockSize"}}</label>
  <div>
    <input type="radio" id="{{item._id}}-project-size-4" name="data.clock_size" value="4" checked>
    <label for="{{item._id}}-project-size-4">4</label>
    <input type="radio" id="{{item._id}}-project-size-6" name="data.clock_size" value="6">
    <label for="{{item._id}}-project-size-6">6</label>
    <input type="radio" id="{{item._id}}-project-size-8" name="data.clock_size" value="8">
    <label for="{{item._id}}-project-size-8">8</label>
  </div>

  <label class="label-stripe">{{localize "FITD.ClockProgress"}}</label>
  <input id="item-class" type="text" name="data.clock_progress" value="{{data.clock_progress}}">
  <label class="label-stripe">{{localize "FITD.Description"}}</label>
  <textarea name="data.description">{{data.description}}</textarea>
</section>
</form>
