<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
      <img src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
      <div class="header-fields">
          <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'BITD.Name'}}"/></h1>
      </div>
  </header>
  
  {{!-- Sheet Body --}}
  <section class="sheet-body flex-vertical">
    <label class="label-stripe">{{localize "BITD.Description"}}</label>
    <textarea rows="20" name="data.description">{{data.description}}</textarea>
  </section>
</form>
