<form class="{{cssClass}} item-sheet special-ability-sheet" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'FITD.Name'}}" /></h1>
    </div>
  </header>

  {{!-- Special Ability Type --}}
  <div class="form-group">
    <label>{{ localize "FITD.ItemAbilityType" }}</label>
    <select id="item-type-select" name="data.ability_type">
      {{#select data.ability_type}}
      {{#each config.special_ability_types as |name type|}}
      <option value="{{type}}">{{localize name}}</option>
      {{/each}}
      {{/select}}
    </select>
  </div>

    {{!-- Special Ability Group --}}
  <div class="form-group" {{#ifIn data.ability_type config.special_ability_primal }} style="display: none;"{{/ifIn}}>
    <label>{{ localize "FITD.AbilityGroup" }}</label>
    <select id="item-group-select" name="data.ability_group">
      {{#select data.ability_group}}
      {{#each config.special_ability_groups as |name type|}}
      <option value="{{type}}"{{#ifIn type @root.config.special_ability_hidden_groups }} hidden {{/ifIn}}>{{localize name}}</option>
      {{/each}}
      {{/select}}
    </select>
  </div>


  {{!-- BASIC TYPE --}}
  {{#if (eq data.ability_type "basic")}}
  <section class="sheet-body">
    <label class="label-stripe">{{localize "FITD.Description"}}</label>
    <textarea name="data.description">{{data.description}}</textarea>
    <div class="flex-vertical">
      <label class="label-stripe">{{localize "FITD.Source"}}</label>
      <input id="ability-source" type="text" name="data.source" value="{{data.source}}" placeholder="{{localize 'FITD.SourceExample'}}">
    </div>
  </section>
  {{/if}}


  {{!-- ADVANCED TYPE --}}
  {{#if (eq data.ability_type "advanced")}}
  {{!-- Item Sheet Navigation --}}
  <nav class="sheet-navigation sheet-tabs flex-horizontal" data-group="primary">
    <a class="item active" data-tab="abilitiestab">{{ localize "FITD.AbilitiesTabTitle" }}</a>
    <a class="item" data-tab="supplytab">{{ localize "FITD.SupplyTabTitle" }}</a>
    <a class="item" data-tab="downtimetab">{{ localize "FITD.DowntimeTabTitle" }}</a>
  </nav>

  {{!-- Item Sheet Body --}}
  <section class="sheet-body">

    {{!-- Abilities Tab --}}
    <div class="tab sheet-body" data-group="primary" data-tab="abilitiestab">
      <h2>Abilities List</h2>
      <label class="label-stripe">{{localize "FITD.Description"}}</label>
      <textarea name="data.description">{{data.description}}</textarea>
      <div class="flex-vertical">
        <label class="label-stripe">{{localize "FITD.Source"}}</label>
        <input id="ability-source" type="text" name="data.source" value="{{data.source}}" placeholder="{{localize 'FITD.SourceExample'}}">
      </div>

      <div class="flex-vertical">
        <label class="label-stripe">{{localize "FITD.Checkbox"}} 1</label>
        <input id="ability-chbx-1" type="text" name="data.ability_checkbox_1_text" value="{{data.ability_checkbox_1_text}}" placeholder="{{localize 'FITD.CheckboxExample'}}">
        <label class="label-stripe">{{localize "FITD.Checkbox"}} 2</label>
        <input id="ability-chbx-2" type="text" name="data.ability_checkbox_2_text" value="{{data.ability_checkbox_2_text}}" placeholder="{{localize 'FITD.CheckboxExample'}}">
      </div>
    </div>

    {{!-- Supply Tab --}}
    <div class="tab sheet-body" data-group="primary" data-tab="supplytab">
      <h2>Supply</h2>
      <label class="label-stripe">{{localize "FITD.Description"}}</label>
      <textarea name="data.supply_desc">{{data.supply_desc}}</textarea>
      <div class="flex-vertical">
        <label class="label-stripe">{{localize "FITD.Checkbox"}} 1</label>
        <input id="sup-ability-chbx-1" type="text" name="data.supply_checkbox_1_text" value="{{data.supply_checkbox_1_text}}" placeholder="{{localize 'FITD.CheckboxExample'}}">
        <label class="label-stripe">{{localize "FITD.Checkbox"}} 2</label>
        <input id="sup-ability-chbx-2" type="text" name="data.supply_checkbox_2_text" value="{{data.supply_checkbox_2_text}}" placeholder="{{localize 'FITD.CheckboxExample'}}">
      </div>
    </div>

    {{!-- Downtime Tab --}}
    <div class="tab sheet-body" data-group="primary" data-tab="downtimetab">
      <h2>Downtime Actions</h2>
      <label class="label-stripe">{{localize "FITD.Description"}}</label>
      <textarea name="data.downtime_desc">{{data.downtime_desc}}</textarea>
      <div class="flex-vertical">
        <label class="label-stripe">{{localize "FITD.Checkbox"}} 1</label>
        <input id="dt-ability-chbx-1" type="text" name="data.downtime_checkbox_1_text" value="{{data.downtime_checkbox_1_text}}" placeholder="{{localize 'FITD.CheckboxExample'}}">
        <label class="label-stripe">{{localize "FITD.Checkbox"}} 2</label>
        <input id="dt-ability-chbx-2" type="text" name="data.downtime_checkbox_2_text" value="{{data.downtime_checkbox_2_text}}" placeholder="{{localize 'FITD.CheckboxExample'}}">
      </div>
    </div>

  </section>
  {{/if}}


  {{!-- BRAINEATER TYPE --}}
  {{#if (eq data.ability_type "be_psi")}}
  <section class="sheet-body">
    <h2>Psionic Discipline of {{item.name}}</h2>
    <input id="ability-source" type="text" name="data.source" value="{{data.source}}" style="display: none;" >
    <div class="flex-vertical">
      <label class="label-stripe">{{localize "FITD.BESkillName"}}</label>
      <input type="text" name="data.primal.be_psi_skill_name" value="{{data.primal.be_psi_skill_name}}" placeholder="{{localize 'FITD.BESkillNameHint'}}">
    </div>
    <div class="flex-vertical">
      <label class="label-stripe">{{localize "FITD.BEMasteryAbilityName1"}}</label>
      <input type="text" name="data.primal.be_psi_name_1" value="{{data.primal.be_psi_name_1}}">
      <label class="label-stripe">{{localize "FITD.BEMasteryAbilityDesc1"}}</label>
      <textarea name="data.primal.be_psi_desc_1">{{data.primal.be_psi_desc_1}}</textarea>
      <label class="label-stripe">{{localize "FITD.BEMasteryTaken"}}</label>
      <input type="checkbox" name="data.primal.be_psi_checked_1" value="{{data.primal.be_psi_checked_1}}" {{checked data.primal.be_psi_checked_1}}>
    </div>
    <div class="flex-vertical">
      <label class="label-stripe">{{localize "FITD.BEMasteryAbilityName2"}}</label>
      <input type="text" name="data.primal.be_psi_name_2" value="{{data.primal.be_psi_name_2}}">
      <label class="label-stripe">{{localize "FITD.BEMasteryAbilityDesc2"}}</label>
      <textarea name="data.primal.be_psi_desc_2">{{data.primal.be_psi_desc_2}}</textarea>
      <label class="label-stripe">{{localize "FITD.BEMasteryTaken"}}</label>
      <input type="checkbox" name="data.primal.be_psi_checked_2" value="{{data.primal.be_psi_checked_2}}" {{checked data.primal.be_psi_checked_2}}>
    </div>
  </section>
  {{/if}}


  {{!-- DOOMSEEKER TYPE --}}
  {{#if (eq data.ability_type "ds_eyes")}}
  <section class="sheet-body">
    <h2>Doomseeker</h2>
    <input id="ability-source" type="text" name="data.source" value="{{data.source}}" style="display: none;" >
    <div id="ray-selection">
      <div class="flex-vertical">
        <label class="label-stripe">{{localize "FITD.DSMainEye"}}</label>
        <div class="ray-line">
          <select class="ray-selector" name="data.primal.ds_eye_ray_1">
            <option value="">{{localize "FITD.NoneParentheses"}}</option>
            {{#select data.primal.ds_eye_ray_1}}
            {{#each config.available_rays1 as |name type|}}
            <option value="{{type}}">{{localize name}}</option>
            {{/each}}
            {{/select}}
          </select>
          <select name="data.primal.ds_eye_ray_1_val">
            {{#select data.primal.ds_eye_ray_1_val}}
            {{#times_from_1 3}}
            <option value="{{this}}">D{{this}}</option>
            {{/times_from_1}}
            {{/select}}
          </select>
        </div>
      </div>
      <div class="flex-vertical">
        <label class="label-stripe">{{localize "FITD.DSOuterEyes"}}</label>
        <div class="ray-line">
          <select class="ray-selector" name="data.primal.ds_eye_ray_2">
            <option value="">{{localize "FITD.NoneParentheses"}}</option>
            {{#select data.primal.ds_eye_ray_2}}
            {{#each config.available_rays2 as |name type|}}
            <option value="{{type}}">{{localize name}}</option>
            {{/each}}
            {{/select}}
          </select>
          <select name="data.primal.ds_eye_ray_2_val">
            {{#select data.primal.ds_eye_ray_2_val}}
            {{#times_from_1 3}}
            <option value="{{this}}">D{{this}}</option>
            {{/times_from_1}}
            {{/select}}
          </select>
        </div>
        <div class="ray-line">
          <select class="ray-selector" name="data.primal.ds_eye_ray_3">
            <option value="">{{localize "FITD.NoneParentheses"}}</option>
            {{#select data.primal.ds_eye_ray_3}}
            {{#each config.available_rays3 as |name type|}}
            <option value="{{type}}">{{localize name}}</option>
            {{/each}}
            {{/select}}
          </select>
          <select name="data.primal.ds_eye_ray_3_val">
            {{#select data.primal.ds_eye_ray_3_val}}
            {{#times_from_1 3}}
            <option value="{{this}}">D{{this}}</option>
            {{/times_from_1}}
            {{/select}}
          </select>
        </div>
        <div class="ray-line">
          <select class="ray-selector" name="data.primal.ds_eye_ray_4">
            <option value="">{{localize "FITD.NoneParentheses"}}</option>
            {{#select data.primal.ds_eye_ray_4}}
            {{#each config.available_rays4 as |name type|}}
            <option value="{{type}}">{{localize name}}</option>
            {{/each}}
            {{/select}}
          </select>
          <select name="data.primal.ds_eye_ray_4_val">
            {{#select data.primal.ds_eye_ray_4_val}}
            {{#times_from_1 3}}
            <option value="{{this}}">D{{this}}</option>
            {{/times_from_1}}
            {{/select}}
          </select>
        </div>
        <div class="ray-line">
          <select class="ray-selector" name="data.primal.ds_eye_ray_5">
            <option value="">{{localize "FITD.NoneParentheses"}}</option>
            {{#select data.primal.ds_eye_ray_5}}
            {{#each config.available_rays5 as |name type|}}
            <option value="{{type}}">{{localize name}}</option>
            {{/each}}
            {{/select}}
          </select>
          <select name="data.primal.ds_eye_ray_5_val">
            {{#select data.primal.ds_eye_ray_5_val}}
            {{#times_from_1 3}}
            <option value="{{this}}">D{{this}}</option>
            {{/times_from_1}}
            {{/select}}
          </select>
        </div>
      </div>
      <div class="flex-vertical">
        <label class="label-stripe">{{localize "FITD.DSOtherEyes"}}</label>
        <div class="ray-line">
          <select class="ray-selector" name="data.primal.ds_eye_ray_6">
            <option value="">{{localize "FITD.NoneParentheses"}}</option>
            {{#select data.primal.ds_eye_ray_6}}
            {{#each config.available_rays6 as |name type|}}
            <option value="{{type}}">{{localize name}}</option>
            {{/each}}
            {{/select}}
          </select>
          <select name="data.primal.ds_eye_ray_6_val">
            {{#select data.primal.ds_eye_ray_6_val}}
            {{#times_from_1 3}}
            <option value="{{this}}">D{{this}}</option>
            {{/times_from_1}}
            {{/select}}
          </select>
        </div>
        <div class="ray-line">
          <select class="ray-selector" name="data.primal.ds_eye_ray_7">
            <option value="">{{localize "FITD.NoneParentheses"}}</option>
            {{#select data.primal.ds_eye_ray_7}}
            {{#each config.available_rays7 as |name type|}}
            <option value="{{type}}">{{localize name}}</option>
            {{/each}}
            {{/select}}
          </select>
          <select name="data.primal.ds_eye_ray_7_val">
            {{#select data.primal.ds_eye_ray_7_val}}
            {{#times_from_1 3}}
            <option value="{{this}}">D{{this}}</option>
            {{/times_from_1}}
            {{/select}}
          </select>
        </div>
        <div class="ray-line">
          <select class="ray-selector" name="data.primal.ds_eye_ray_8">
            <option value="">{{localize "FITD.NoneParentheses"}}</option>
            {{#select data.primal.ds_eye_ray_8}}
            {{#each config.available_rays8 as |name type|}}
            <option value="{{type}}">{{localize name}}</option>
            {{/each}}
            {{/select}}
          </select>
          <select name="data.primal.ds_eye_ray_8_val">
            {{#select data.primal.ds_eye_ray_8_val}}
            {{#times_from_1 3}}
            <option value="{{this}}">D{{this}}</option>
            {{/times_from_1}}
            {{/select}}
          </select>
        </div>
        <div class="ray-line">
          <select class="ray-selector" name="data.primal.ds_eye_ray_9">
            <option value="">{{localize "FITD.NoneParentheses"}}</option>
            {{#select data.primal.ds_eye_ray_9}}
            {{#each config.available_rays9 as |name type|}}
            <option value="{{type}}">{{localize name}}</option>
            {{/each}}
            {{/select}}
          </select>
          <select name="data.primal.ds_eye_ray_9_val">
            {{#select data.primal.ds_eye_ray_9_val}}
            {{#times_from_1 3}}
            <option value="{{this}}">D{{this}}</option>
            {{/times_from_1}}
            {{/select}}
          </select>
        </div>
      </div>
    </div>
  </section>
  {{/if}}


  {{!-- FACESTEALER TYPE --}}
  {{#if (eq data.ability_type "fs_face")}}
  <section class="sheet-body">
    <input id="ability-source" type="text" name="data.source" value="{{data.source}}" style="display: none;" >
    <h2>Facestealer</h2>
    <div class="flex-vertical">
      <label class="label-stripe">{{localize "FITD.Description"}}</label>
      <textarea name="data.description">{{data.description}}</textarea>
    </div>
  </section>
  {{/if}}


  {{!-- GOLDMONGER TYPE --}}
  {{#if (eq data.ability_type "gm_path")}}
  <section class="sheet-body">
    <input id="ability-source" type="text" name="data.source" value="{{data.source}}" style="display: none;" >
    <h2>{{item.name}} Growth Path:</h2>
    <div class="flex-vertical">
      <label class="label-stripe">{{localize "FITD.GMStage1"}}</label>
      <textarea name="data.primal.gm_desc_1">{{data.primal.gm_desc_1}}</textarea>
      <label class="label-stripe">{{localize "FITD.GMStage1Box"}}</label>
      <input id="gm-ability-chbx-1" type="text" name="data.primal.gm_checkbox_1_text" value="{{data.primal.gm_checkbox_1_text}}" placeholder="{{localize 'FITD.CheckboxExample'}}">
    </div>
    <div class="flex-vertical">
      <label class="label-stripe">{{localize "FITD.GMStage2"}}</label>
      <textarea name="data.primal.gm_desc_2">{{data.primal.gm_desc_2}}</textarea>
      <label class="label-stripe">{{localize "FITD.GMStage2Box"}}</label>
      <input id="gm-ability-chbx-1" type="text" name="data.primal.gm_checkbox_2_text" value="{{data.primal.gm_checkbox_2_text}}" placeholder="{{localize 'FITD.CheckboxExample'}}">
    </div>
    <div class="flex-vertical">
      <label class="label-stripe">{{localize "FITD.GMStage3"}}</label>
      <textarea name="data.primal.gm_desc_3">{{data.primal.gm_desc_3}}</textarea>
      <label class="label-stripe">{{localize "FITD.GMStage3Box"}}</label>
      <input id="gm-ability-chbx-1" type="text" name="data.primal.gm_checkbox_3_text" value="{{data.primal.gm_checkbox_3_text}}" placeholder="{{localize 'FITD.CheckboxExample'}}">
    </div>
  </section>
  {{/if}}


</form>
