<form class="{{cssClass}} item-sheet tier-3-room-sheet" autocomplete="off">
  <header class="sheet-header">
      <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
      <div class="header-fields">
          <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'FITD.Name'}}"/></h1>
      </div>
  </header>

  <section class="flex-vertical">
    <label class="label-stripe">{{localize "FITD.Description"}}</label>
    <textarea name="data.description">{{data.description}}</textarea>
    <label class="label-stripe">{{localize "FITD.RoomRequirements"}}</label>
    <textarea name="data.requirements">{{data.requirements}}</textarea>
    <label class="label-stripe">{{localize "FITD.DungeonTheme"}}</label>
    <textarea name="data.theme">{{data.theme}}</textarea>
    <label class="label-stripe">{{localize "FITD.MissingMaterials"}}</label>
    <input type="checkbox" name="data.missing_materials" {{checked data.missing_materials}}>
  </section>

</form>
