/* 
*  Elements that can be changed will hint this by dimming and fading a little on hover
*/
/*
 * Toothradio. Some (eg trauma) are not changeable, hence the option.
 */
/* Dark Hearts Glow */
@keyframes glow {
  0% {
    box-shadow: 0 0 5px 5px rgba(104, 51, 44, 0.3), inset 0 0 5px 5px rgba(104, 51, 44, 0.3);
    border-radius: 5px;
  }
  100% {
    box-shadow: 0 0 15px 3px rgba(104, 51, 144, 0.8), inset 0 0 8px 3px rgba(104, 51, 144, 0.6);
    border-radius: 11px;
  }
}
/*
 * Custom Radio
 */
/*
 * Custom Radio Squared
 */
/*
 * Checkboxes underscored.
 */
/*
 * Create Clock
 */
/*
 * Turf Block
 */
/*
 * Toothradio single elements
 */
/*
 * Custom Radio Round
 */
/*
 * Fonts
 */
/* bitter-regular - latin_cyrillic */
@font-face {
  font-family: "Bitter";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/bitter-v16-latin_cyrillic-regular.woff2") format("woff2");
}
/* bitter-500 - latin_cyrillic */
@font-face {
  font-family: "Bitter";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/bitter-v16-latin_cyrillic-500.woff2") format("woff2");
}
/* bitter-600 - latin_cyrillic */
@font-face {
  font-family: "Bitter";
  font-style: normal;
  font-weight: 600;
  src: local(""), url("../fonts/bitter-v16-latin_cyrillic-600.woff2") format("woff2");
}
/* bitter-700 - latin_cyrillic */
@font-face {
  font-family: "Bitter";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/bitter-v16-latin_cyrillic-700.woff2") format("woff2");
}
/* bitter-800 - latin_cyrillic */
@font-face {
  font-family: "Bitter";
  font-style: normal;
  font-weight: 800;
  src: local(""), url("../fonts/bitter-v16-latin_cyrillic-800.woff2") format("woff2");
}
/* bitter-900 - latin_cyrillic */
@font-face {
  font-family: "Bitter";
  font-style: normal;
  font-weight: 900;
  src: local(""), url("../fonts/bitter-v16-latin_cyrillic-900.woff2") format("woff2");
}
/* bitter-italic - latin_cyrillic */
@font-face {
  font-family: "Bitter";
  font-style: italic;
  font-weight: 400;
  src: local(""), url("../fonts/bitter-v16-latin_cyrillic-italic.woff2") format("woff2");
}
/* bitter-500italic - latin_cyrillic */
@font-face {
  font-family: "Bitter";
  font-style: italic;
  font-weight: 500;
  src: local(""), url("../fonts/bitter-v16-latin_cyrillic-500italic.woff2") format("woff2");
}
/* bitter-600italic - latin_cyrillic */
@font-face {
  font-family: "Bitter";
  font-style: italic;
  font-weight: 600;
  src: local(""), url("../fonts/bitter-v16-latin_cyrillic-600italic.woff2") format("woff2");
}
/* bitter-700italic - latin_cyrillic */
@font-face {
  font-family: "Bitter";
  font-style: italic;
  font-weight: 700;
  src: local(""), url("../fonts/bitter-v16-latin_cyrillic-700italic.woff2") format("woff2");
}
/* bitter-800italic - latin_cyrillic */
@font-face {
  font-family: "Bitter";
  font-style: italic;
  font-weight: 800;
  src: local(""), url("../fonts/bitter-v16-latin_cyrillic-800italic.woff2") format("woff2");
}
/* bitter-900italic - latin_cyrillic */
@font-face {
  font-family: "Bitter";
  font-style: italic;
  font-weight: 900;
  src: local(""), url("../fonts/bitter-v16-latin_cyrillic-900italic.woff2") format("woff2");
}
/* Blood crow-regular - latin */
@font-face {
  font-family: "Blood Crow";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/bloodcrow.ttf") format("truetype");
}
/* piedra-regular - latin */
@font-face {
  font-family: "Piedra";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/piedra-v9-latin-regular.woff2") format("woff2");
}
/*
 *  General Styles
 */
* header {
  margin-bottom: 10px;
}
* body {
  font-family: Bitter, sans-serif;
  font-weight: 500;
  font-size: 14px;
}
* button {
  font-family: Bitter, sans-serif;
  font-weight: 500;
  color: #fff8e8;
  background: #68332c;
  border-top: 1px outset #d46c1f;
  border-bottom: 2px outset #d46c1f;
  border-left: 2px solid darkslategrey;
  border-right: 2px solid darkslategrey;
  transition-duration: 0.2s;
}
* button:hover, * button:focus {
  outline: none;
  box-shadow: 0 0 5px #d46c1f;
  background: #d46c1f;
}
* .dialog .dialog-buttons button {
  background: #68332c;
  border-top: 1px outset #d46c1f;
  border-bottom: 2px outset #d46c1f;
  border-left: 2px solid darkslategrey;
  border-right: 2px solid darkslategrey;
}
* * form button {
  background: #68332c;
  border-top: 1px outset #d46c1f;
  border-bottom: 2px outset #d46c1f;
  border-left: 2px solid darkslategrey;
  border-right: 2px solid darkslategrey;
}
* ul {
  list-style: none;
}
* h1, * h2, * h3, * h4 {
  font-weight: bold;
}
* input[type=text], * input[type=number], * input[type=password], * input[type=date], * input[type=time], * input[type=range] {
  font-weight: 600;
}
* form.actor-sheet {
  padding: 20px;
}
* form .notes, * form .hint {
  color: #400000;
  font-weight: 600;
}
* label {
  font-weight: 600;
}
* textarea {
  color: #400000;
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: Bitter;
  font-weight: 600;
  min-height: 80px;
}
* td {
  padding: 5px;
}
* section {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
* section > *:not(.label-stripe) {
  margin-right: 10px;
}
* section > *:not(.label-stripe):last-child {
  margin-right: 0px;
}
* section .grow-one {
  flex-grow: 1;
}
* section .grow-two {
  flex-grow: 2;
}
* select {
  font-family: Bitter, Lucida Console, monospace;
  font-weight: 600;
  font-size: 15px;
}
* option {
  font-weight: 600;
}
* nav {
  margin-bottom: 10px;
}
* .editor,
* .editor-content {
  min-height: 280px;
}
* .flex-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
* .flex-vertical {
  display: flex;
  flex-direction: column;
}
* .black-label {
  background-color: #68332c;
  color: #EEEFFF;
  font-size: 18px;
  text-align: center;
  padding: 4px 5px;
  height: 30px !important;
  text-transform: capitalize;
}
* .gray-label {
  background-color: #999;
  color: #191919;
  font-size: 21px;
  text-align: center;
  padding: 0px 5px;
  height: 30px !important;
  text-transform: capitalize;
}
* .chat-message {
  padding: 5px;
  color: #191919;
  font-size: 14px;
  background: url(../images/background-light.png) repeat;
  background-size: 300px;
  box-shadow: inset 0 0 9px 1px #4000004f;
}
* .chat-message .message-header .message-sender {
  font-family: Piedra;
  font-weight: normal;
  font-size: 15px;
}
* .chat-message .message-content {
  font-family: Bitter;
  font-size: inherit;
  font-weight: 600;
}
* .chat-message .message-header .message-metadata {
  text-align: right;
  font-weight: 700;
}
* .chat-label {
  background-color: #191919;
  color: #EEEFFF;
  font-size: 24px;
  text-align: center;
  padding: 0px 5px;
  height: 32px !important;
  text-transform: capitalize;
}
* .chat-label-small {
  background-color: #999;
  color: #191919;
  font-size: small;
  text-align: center;
  padding: 3px 5px;
  height: 26px !important;
}
* .compendium .directory-list .directory-item {
  padding: 3px 0;
  line-height: 48px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid #4000005c;
  box-shadow: none;
}
* .dialog .dialog-buttons button.default {
  background: #68332c;
  border-top: 1px outset #d46c1f;
  border-bottom: 2px outset #d46c1f;
  border-left: 2px solid darkslategrey;
  border-right: 2px solid darkslategrey;
}
* .dialog .dialog-buttons button.default:hover, * .dialog .dialog-buttons button.default:focus {
  outline: none;
  box-shadow: 0 0 5px #d46c1f;
  background: #d46c1f;
}
* .label-stripe {
  text-transform: uppercase;
  background-color: #68332c;
  color: #EEEFFF;
  margin-bottom: 10px;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  font-weight: bold;
  font-size: medium;
}
* .label-stripe:hover .item-add-popup {
  transition: opacity 0.5s;
  opacity: 1;
}
* .label-stripe .item-add-popup {
  transition: opacity 0.5s;
  opacity: 0.1;
}
* .label-stripe-gray {
  text-transform: uppercase;
  background-color: #999;
  margin-bottom: 10px;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  font-weight: bold;
}
* .label-stripe-chat {
  font-family: Piedra;
  background-color: #68332c;
  color: white;
  margin-bottom: 10px;
  position: relative;
  padding-top: 2px;
  display: flex;
  font-weight: normal;
  margin: 0;
  border-top-left-radius: 5px;
  text-shadow: 2px 2px 0 #313131;
}
* .label-type {
  font-family: Piedra;
  text-transform: uppercase;
  color: white;
  display: flex;
  font-family: Bitter;
  font-weight: 600;
  font-size: 12px;
  margin: 0;
  margin-left: auto;
  border-top-left-radius: 5px;
}
* .label-stripe-chat-small {
  text-transform: capitalize;
  background-color: #bdb7ab;
  color: #191919;
  margin-bottom: 0px;
  position: relative;
  padding-top: 3px;
  /* display: flex; */
  font-weight: normal;
  font-family: Piedra;
  font-size: 16px;
}
* .description {
  font-style: italic;
  font-weight: 600;
}
* .rollable-text {
  transition: color 0.2s;
}
* .rollable-text:hover {
  cursor: pointer;
  color: #a20000;
}
* .big-teeth-section {
  display: flex;
  flex-direction: row;
  margin-bottom: 0px;
  /* Reckless XP */
}
* .big-teeth-section > * {
  margin-right: 10px;
}
* .big-teeth-section > *:last-child {
  margin-right: 0px;
}
* .big-teeth-section:last-child {
  margin-right: 0px;
}
* .big-teeth-section .big-teeth {
  display: flex;
  /* Hide the browser's default checkbox */
  justify-content: center;
}
* .big-teeth-section .big-teeth label {
  height: 32px;
  width: 11px;
  background-image: url("assets/teeth/xp-tooth-3-5-7-filled.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 5px;
  transition: filter 0.1s;
  cursor: pointer;
}
* .big-teeth-section .big-teeth label:last-of-type {
  margin-right: 0px;
}
* .big-teeth-section .big-teeth label[for$="-0"] {
  width: auto;
  height: auto;
  background-image: none !important;
  color: #EEEFFF;
}
* .big-teeth-section .big-teeth label[for$="-0"] i {
  margin-top: 4px;
}
* .big-teeth-section .big-teeth label:hover {
  filter: brightness(0.8);
  opacity: 0.9;
}
* .big-teeth-section .big-teeth input {
  display: none;
}
* .big-teeth-section .big-teeth input:checked ~ label {
  background-image: url("assets/teeth/xp-tooth-3-5-7-empty.png");
}
* .big-teeth-section .big-teeth input:checked + label {
  background-image: url("assets/teeth/xp-tooth-3-5-7-filled.png");
}
* .big-teeth-section .big-teeth label {
  margin-right: 0px;
}
* .big-teeth-section .big-teeth label:nth-of-type(2) {
  background-image: url("assets/teeth/xp-tooth-1-filled.png");
  width: 10px;
}
* .big-teeth-section .big-teeth label:nth-of-type(2n+3) {
  background-image: url("assets/teeth/xp-tooth-2-4-6-8-filled.png");
  width: 12px;
}
* .big-teeth-section .big-teeth label:last-of-type {
  background-image: url("assets/teeth/xp-tooth-9-filled.png");
  width: 18px;
}
* .big-teeth-section .big-teeth.xp-bar input:checked ~ label:nth-of-type(2) {
  background-image: url("assets/teeth/xp-tooth-1-empty.png");
  width: 10px;
}
* .big-teeth-section .big-teeth.xp-bar input:checked ~ label:nth-of-type(2n+3) {
  background-image: url("assets/teeth/xp-tooth-2-4-6-8-empty.png");
  width: 12px;
}
* .big-teeth-section .big-teeth.xp-bar input:checked ~ label:last-of-type {
  background-image: url("assets/teeth/xp-tooth-9-empty.png");
  width: 18px;
}
* .big-teeth-section .big-teeth.xp-bar input:checked + label:nth-of-type(2) {
  background-image: url("assets/teeth/xp-tooth-1-filled.png");
  width: 10px;
}
* .big-teeth-section .big-teeth.xp-bar input:checked + label:nth-of-type(2n+3) {
  background-image: url("assets/teeth/xp-tooth-2-4-6-8-filled.png");
  width: 12px;
}
* .big-teeth-section .big-teeth.xp-bar input:checked + label:last-of-type {
  background-image: url("assets/teeth/xp-tooth-9-filled.png");
  width: 18px;
}
* .big-teeth-section .big-teeth.gold {
  display: flex;
  /* Hide the browser's default checkbox */
  align-items: center;
  justify-content: center;
}
* .big-teeth-section .big-teeth.gold label {
  height: 20px;
  width: 20px;
  background-image: url("assets/teeth/gold-filled.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 5px;
  transition: filter 0.1s;
  cursor: pointer;
}
* .big-teeth-section .big-teeth.gold label:last-of-type {
  margin-right: 0px;
}
* .big-teeth-section .big-teeth.gold label[for$="-0"] {
  width: auto;
  height: auto;
  background-image: none !important;
  color: #EEEFFF;
}
* .big-teeth-section .big-teeth.gold label[for$="-0"] i {
  margin-top: 4px;
}
* .big-teeth-section .big-teeth.gold label:hover {
  filter: brightness(0.8);
  opacity: 0.9;
}
* .big-teeth-section .big-teeth.gold input {
  display: none;
}
* .big-teeth-section .big-teeth.gold input:checked ~ label {
  background-image: url("assets/teeth/gold-empty.png");
}
* .big-teeth-section .big-teeth.gold input:checked + label {
  background-image: url("assets/teeth/gold-filled.png");
}
* .big-teeth-section .big-teeth.gold label {
  margin-right: 0px;
}
* .big-teeth-section .small-teeth-container .small-teeth-wrap {
  display: flex;
  /* Hide the browser's default checkbox */
  flex-direction: column;
}
* .big-teeth-section .small-teeth-container .small-teeth-wrap label {
  height: 50px;
  width: 17px;
  background-image: url("assets/teeth/shorttooth-red.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 5px;
  cursor: not-allowed;
}
* .big-teeth-section .small-teeth-container .small-teeth-wrap label:last-of-type {
  margin-right: 0px;
}
* .big-teeth-section .small-teeth-container .small-teeth-wrap label[for$="-0"] {
  width: auto;
  height: auto;
  background-image: none !important;
  color: #EEEFFF;
}
* .big-teeth-section .small-teeth-container .small-teeth-wrap label[for$="-0"] i {
  margin-top: 4px;
}
* .big-teeth-section .small-teeth-container .small-teeth-wrap input {
  display: none;
}
* .big-teeth-section .small-teeth-container .small-teeth-wrap input:checked ~ label {
  background-image: url("assets/teeth/shorttooth-grey.png");
}
* .big-teeth-section .small-teeth-container .small-teeth-wrap input:checked + label {
  background-image: url("assets/teeth/shorttooth-red.png");
}
* .big-teeth-section .small-teeth-container .small-teeth-wrap .small-teeth {
  display: flex;
  flex-direction: row;
}
* .teeth-experience {
  display: flex;
  /* Hide the browser's default checkbox */
  position: absolute;
  top: 0px;
  right: 10px;
}
* .teeth-experience label {
  height: 30px;
  width: 10px;
  background-image: url("assets/teeth/stresstooth-red.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 5px;
  transition: filter 0.1s;
  cursor: pointer;
}
* .teeth-experience label:last-of-type {
  margin-right: 0px;
}
* .teeth-experience label[for$="-0"] {
  width: auto;
  height: auto;
  background-image: none !important;
  color: #EEEFFF;
}
* .teeth-experience label[for$="-0"] i {
  margin-top: 4px;
}
* .teeth-experience label:hover {
  filter: brightness(0.8);
  opacity: 0.9;
}
* .teeth-experience input {
  display: none;
}
* .teeth-experience input:checked ~ label {
  background-image: url("assets/teeth/stresstooth-halfgrey.png");
}
* .teeth-experience input:checked + label {
  background-image: url("assets/teeth/stresstooth-red.png");
}
* .tooltip .tooltiptext {
  visibility: hidden;
  width: 300px;
  font-weight: 600;
  font-family: Bitter;
  background: url(../images/background-light.png) repeat;
  color: #400000;
  font-size: 16px;
  text-align: justify;
  border: 2px solid #400000;
  padding: 10px;
  border-radius: 10px;
  position: absolute;
  z-index: 9999;
}
* .tooltip:hover .tooltiptext {
  visibility: visible;
}
* .fa-question-circle {
  padding: 2px 3px;
}
* .hidden {
  display: none;
}
* .tabs .item.active {
  font-weight: 700;
  color: #400000;
  text-shadow: 2px 2px 7px #808080;
}
* .blades-die-tooltip .die {
  font-family: Piedra;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 24px;
  text-align: center;
  height: 30px;
  color: white;
  border-bottom: 3px solid;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
* .blades-die-tooltip .die.critical-success {
  color: #b12c20;
}
* .blades-die-tooltip .die.success {
  color: #862118;
}
* .blades-die-tooltip .die.partial-success {
  color: #2c3678;
}
* .blades-die-tooltip .die.failure {
  color: #656666;
}
* .clock-zero-label {
  color: #191919;
}
* .clock-block .clocks.clocks-4 {
  position: relative;
}
* .clock-block .clocks.clocks-4 .blades-clock {
  position: relative;
  padding: 0;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  list-style: none;
  overflow: hidden;
  background-size: cover;
}
* .clock-block .clocks.clocks-4 .blades-clock label {
  overflow: hidden;
  position: absolute;
  top: -50%;
  right: -50%;
  width: 100%;
  height: 100%;
  transform-origin: 0% 100%;
  transition: filter 0.1s;
  cursor: pointer;
}
* .clock-block .clocks.clocks-4 .blades-clock label:hover {
  filter: brightness(0.8);
  opacity: 0.9;
}
* .clock-block .clocks.clocks-4 .blades-clock input {
  position: absolute;
  display: none;
}
* .clock-block .clocks.clocks-4 .blades-clock input[value="0"] {
  display: none;
}
* .clock-block .clocks.clocks-4 .blades-clock *:nth-child(3) {
  transform: rotate(0deg) skewY(180deg);
}
* .clock-block .clocks.clocks-4 .blades-clock *:nth-child(5) {
  transform: rotate(90deg) skewY(180deg);
}
* .clock-block .clocks.clocks-4 .blades-clock *:nth-child(7) {
  transform: rotate(180deg) skewY(180deg);
}
* .clock-block .clocks.clocks-4 .blades-clock *:nth-child(9) {
  transform: rotate(270deg) skewY(180deg);
}
* .clock-block .clocks.clocks-6 {
  position: relative;
}
* .clock-block .clocks.clocks-6 .blades-clock {
  position: relative;
  padding: 0;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  list-style: none;
  overflow: hidden;
  background-size: cover;
}
* .clock-block .clocks.clocks-6 .blades-clock label {
  overflow: hidden;
  position: absolute;
  top: -50%;
  right: -50%;
  width: 100%;
  height: 100%;
  transform-origin: 0% 100%;
  transition: filter 0.1s;
  cursor: pointer;
}
* .clock-block .clocks.clocks-6 .blades-clock label:hover {
  filter: brightness(0.8);
  opacity: 0.9;
}
* .clock-block .clocks.clocks-6 .blades-clock input {
  position: absolute;
  display: none;
}
* .clock-block .clocks.clocks-6 .blades-clock input[value="0"] {
  display: none;
}
* .clock-block .clocks.clocks-6 .blades-clock *:nth-child(3) {
  transform: rotate(0deg) skewY(150deg);
}
* .clock-block .clocks.clocks-6 .blades-clock *:nth-child(5) {
  transform: rotate(60deg) skewY(150deg);
}
* .clock-block .clocks.clocks-6 .blades-clock *:nth-child(7) {
  transform: rotate(120deg) skewY(150deg);
}
* .clock-block .clocks.clocks-6 .blades-clock *:nth-child(9) {
  transform: rotate(180deg) skewY(150deg);
}
* .clock-block .clocks.clocks-6 .blades-clock *:nth-child(11) {
  transform: rotate(240deg) skewY(150deg);
}
* .clock-block .clocks.clocks-6 .blades-clock *:nth-child(13) {
  transform: rotate(300deg) skewY(150deg);
}
* .clock-block .clocks.clocks-8 {
  position: relative;
}
* .clock-block .clocks.clocks-8 .blades-clock {
  position: relative;
  padding: 0;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  list-style: none;
  overflow: hidden;
  background-size: cover;
}
* .clock-block .clocks.clocks-8 .blades-clock label {
  overflow: hidden;
  position: absolute;
  top: -50%;
  right: -50%;
  width: 100%;
  height: 100%;
  transform-origin: 0% 100%;
  transition: filter 0.1s;
  cursor: pointer;
}
* .clock-block .clocks.clocks-8 .blades-clock label:hover {
  filter: brightness(0.8);
  opacity: 0.9;
}
* .clock-block .clocks.clocks-8 .blades-clock input {
  position: absolute;
  display: none;
}
* .clock-block .clocks.clocks-8 .blades-clock input[value="0"] {
  display: none;
}
* .clock-block .clocks.clocks-8 .blades-clock *:nth-child(3) {
  transform: rotate(0deg) skewY(135deg);
}
* .clock-block .clocks.clocks-8 .blades-clock *:nth-child(5) {
  transform: rotate(45deg) skewY(135deg);
}
* .clock-block .clocks.clocks-8 .blades-clock *:nth-child(7) {
  transform: rotate(90deg) skewY(135deg);
}
* .clock-block .clocks.clocks-8 .blades-clock *:nth-child(9) {
  transform: rotate(135deg) skewY(135deg);
}
* .clock-block .clocks.clocks-8 .blades-clock *:nth-child(11) {
  transform: rotate(180deg) skewY(135deg);
}
* .clock-block .clocks.clocks-8 .blades-clock *:nth-child(13) {
  transform: rotate(225deg) skewY(135deg);
}
* .clock-block .clocks.clocks-8 .blades-clock *:nth-child(15) {
  transform: rotate(270deg) skewY(135deg);
}
* .clock-block .clocks.clocks-8 .blades-clock *:nth-child(17) {
  transform: rotate(315deg) skewY(135deg);
}
* .clock-block .blades-clock-name-type > * {
  margin-bottom: 10px;
  max-width: 220px;
}
* i.nullifier {
  transition: filter 0.2s;
  cursor: pointer;
}
* i.nullifier:hover {
  filter: brightness(0.8);
  opacity: 0.9;
  color: #a20000;
}
* .window-app .window-content {
  background: url(../images/background-light.png) repeat;
  color: #191919;
  overflow-y: auto;
  background-size: 300px;
}
* .window-app .window-content form.actor-sheet {
  z-index: 0;
}
* .wicked-die {
  width: 32px;
  height: 32px;
  float: left;
  background-repeat: no-repeat;
  background-size: contain;
}
* .wd1 {
  background-image: url("assets/dice/die-1-grey.png");
}
* .wd2 {
  background-image: url("assets/dice/die-2-grey.png");
}
* .wd3 {
  background-image: url("assets/dice/die-3-grey.png");
}
* .wd4 {
  background-image: url("assets/dice/die-4-blue.png");
}
* .wd5 {
  background-image: url("assets/dice/die-5-blue.png");
}
* .wd6 {
  background-image: url("assets/dice/die-6-red.png");
}
* .dice-tooltip .dice-rolls .roll.d6 {
  font-family: Signika;
}
* .flex-evenly {
  justify-content: space-evenly;
}

/*
 *  Non-Anchored Styles
 */
#attributes .morale-minion label, #attributes .bloodied-minion label, #attributes .bloodied label, #attributes .shock label {
  height: 24px;
  width: 24px;
  display: block;
  background-image: url("assets/boxes/box-empty.png");
  background-repeat: no-repeat;
  background-size: contain;
  transition: filter 0.1s;
  cursor: pointer;
  position: relative;
  transition: filter 0.1s;
  cursor: pointer;
}
#attributes .morale-minion label:hover, #attributes .bloodied-minion label:hover, #attributes .bloodied label:hover, #attributes .shock label:hover {
  filter: brightness(0.7);
  opacity: 0.7;
}

.profile-img.profile-big {
  margin: 0px 0px;
  height: 175px;
  width: 175px;
  border: none;
  background: url(../images/background-light.png) repeat #4000004f;
  border-radius: 5px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 0px;
  background-blend-mode: color-burn;
  object-fit: cover;
}

.profile-img {
  border: none;
  background: url(../images/background-light.png) repeat #4000004f;
  border-radius: 5px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 0px;
  background-blend-mode: color-burn;
  object-fit: cover;
}

.item {
  justify-content: space-between;
  /*.item-body,
  .item-class-label {
      width: 100px;
  }*/
}
.item .item-body {
  margin-bottom: 10px;
  margin-right: 10px;
}
.item .item-body .item-description {
  font-style: italic;
  text-align: justify;
}
.item .item-body .item-special-feature {
  background: #68332c3f;
  border-radius: 15px;
  padding: 10px;
  margin: 10px;
}
.item .item-body .missing-materials {
  color: #999;
}
.item div {
  flex-grow: 2;
}
.item .item-class-label {
  margin-bottom: 10px;
}

.item-class-label {
  margin-bottom: 2px;
}

div.item:hover i.fa-trash, tr.item:hover i.fa-trash {
  transition: opacity 1s;
  opacity: 0.5;
}
div.item i.fa-trash, tr.item i.fa-trash {
  transition: opacity 1s;
  opacity: 0;
}

.item-add-popup {
  padding-left: 10px;
}

/*
 *  Anchored Styles
 */
#chat-controls .roll-type-select {
  color: #400000;
  font-size: 14px;
  font-weight: 700;
}

#chat-form textarea {
  background: url(../images/background-light.png) repeat;
  background-size: 300px;
}

#character-wickedxp label[for$="-0"] {
  margin-right: 0px;
}

#character-recklessxp label[for$="-0"] {
  margin-right: 0px;
}

#dungeon-tier {
  background-color: #68332c3f;
  height: 33px;
  width: 145px;
  display: flex;
  align-items: center;
  border: solid;
  border-width: 2px;
  border-color: #68332c;
  display: flex;
  /* Hide the browser's default checkbox */
}
#dungeon-tier label {
  transition: filter 0.1s;
  cursor: pointer;
}
#dungeon-tier label:hover {
  filter: brightness(0.8);
  opacity: 0.9;
}
#dungeon-tier label:not([for$="-0"]) {
  height: 18px;
  width: 18px;
  background-color: #191919;
  vertical-align: middle;
  border: 2px solid #191919;
  border-radius: 9px;
}
#dungeon-tier input {
  display: none;
}
#dungeon-tier input:checked ~ label:not([for$="-0"]) {
  border-color: gray;
  background-color: #EEEFFF;
}
#dungeon-tier input:checked + label:not([for$="-0"]) {
  background-color: #191919;
  border-color: #191919;
}
#dungeon-tier > * {
  margin-right: 5px;
}

#items-to-add {
  font-size: medium;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
}
#items-to-add input[type=radio],
#items-to-add input[type=checkbox] {
  display: none;
}
#items-to-add input[type=radio]:checked + label,
#items-to-add input[type=checkbox]:checked + label {
  font-weight: 800;
  color: #400000;
}
#items-to-add > flex-horizontal {
  padding: 3px;
  border-bottom: 1px solid #4000005c;
}
#items-to-add label:nth-of-type(2n) {
  background: #68332c3f;
}

#wo-nav-container nav a, #dun-nav-container nav a, #mp-nav-container nav a {
  flex: none;
}
#wo-nav-container .all-items-list, #dun-nav-container .all-items-list, #mp-nav-container .all-items-list {
  font-size: 14px;
}
#wo-nav-container .all-items-list:nth-of-type(2n+1), #dun-nav-container .all-items-list:nth-of-type(2n+1), #mp-nav-container .all-items-list:nth-of-type(2n+1) {
  background: rgba(0, 0, 0, 0.15);
}
#wo-nav-container .all-items-list div.item-body, #dun-nav-container .all-items-list div.item-body, #mp-nav-container .all-items-list div.item-body {
  margin: 5px 10px;
}
#wo-nav-container .all-items-list a.item-delete, #dun-nav-container .all-items-list a.item-delete, #mp-nav-container .all-items-list a.item-delete {
  margin-right: 10px;
  align-self: center;
}

#attributes {
  width: 200px;
  top: 7px;
  position: relative;
}
#attributes.minion {
  width: 150px;
}
#attributes .attribute {
  margin-bottom: 5px;
}
#attributes .stripe {
  background-color: #68332c;
  color: #EEEFFF;
  font-size: 17px;
  padding-left: 5px;
}
#attributes .shock input {
  display: none;
}
#attributes .shock label {
  height: 32px;
  width: 32px;
  background-image: url("assets/boxes/shock-empty.png");
  margin-right: 5px;
  top: -6px;
}
#attributes .shock input:checked + label {
  background-image: url("assets/boxes/shock-filled.png");
}
#attributes .bloodied input {
  display: none;
}
#attributes .bloodied label {
  height: 36px;
  background-image: url("assets/boxes/bloodied-empty.png");
  margin-left: 8px;
  margin-right: 1px;
  padding: 10px;
  top: -13px;
}
#attributes .bloodied input:checked + label {
  background-image: url("assets/boxes/bloodied-filled-white.png");
}
#attributes .bloodied input:checked ~ i.splash {
  display: block;
  height: 100px;
  background-image: url("assets/decorations/bloodsplat.png");
  background-size: 100px 100px;
  background-repeat: no-repeat;
  margin: -50px;
  position: relative;
  top: -30px;
  left: 22px;
  z-index: -1;
}
#attributes #attributes-bloodied {
  margin-bottom: 15px;
}
#attributes .bloodied-minion input {
  display: none;
}
#attributes .bloodied-minion label {
  background-image: url("assets/boxes/bloodied-minion-empty.png");
  margin: 0px 2px -2px 1px;
  top: -2px;
}
#attributes .bloodied-minion input:checked + label {
  background-image: url("assets/boxes/bloodied-minion-filled-white.png");
}
#attributes .bloodied-minion input:checked ~ i.splash {
  display: block;
  height: 75px;
  background-image: url("assets/decorations/bloodsplat.png");
  background-size: 75px 75px;
  background-repeat: no-repeat;
  margin: -40px;
  position: relative;
  top: -12px;
  left: 16px;
  z-index: -1;
}
#attributes .morale-minion input {
  display: none;
}
#attributes .morale-minion label {
  margin-left: 1px;
  margin-right: 2px;
  top: -1px;
}
#attributes .morale-minion input:checked + label {
  background-image: url("assets/boxes/box-filled.png");
}
#attributes .main {
  flex-grow: 1;
}
#attributes .main div:hover > div.attributes-container label {
  transition: opacity 1s;
  opacity: 1;
}
#attributes .attribute-label {
  font-size: 18px;
  text-transform: uppercase;
  background-color: #68332c;
}
#attributes .attribute-skill-label {
  font-weight: 800;
  font-size: 18px;
  text-transform: uppercase;
  background-color: unset;
}
#attributes .attributes-exp {
  position: relative;
  margin-bottom: 2px;
}
#attributes .attributes-container {
  display: flex;
  margin: 3px 0px;
  background-color: unset;
  display: flex;
  /* Hide the browser's default checkbox */
}
#attributes .attributes-container label {
  height: 15px;
  width: 15px;
  background-image: url("assets/boxes/box-filled.png");
  background-repeat: no-repeat;
  background-size: contain;
  vertical-align: middle;
  transition: filter 0.1s;
  cursor: pointer;
}
#attributes .attributes-container label.dark-heart {
  background-image: url("assets/boxes/heart-filled.png");
  margin-right: 4px;
  position: relative;
  top: -4px;
}
#attributes .attributes-container label[for$="-0"] {
  height: 8px;
  width: 8px;
  border-radius: 24px;
  opacity: 0;
  transition: opacity 1s;
  background-image: none !important;
  background-color: #a20000 !important;
  margin-right: 0px;
}
#attributes .attributes-container label:hover {
  filter: brightness(0.7);
  opacity: 0.7;
}
#attributes .attributes-container input {
  display: none;
}
#attributes .attributes-container input:checked ~ label {
  background-image: url("assets/boxes/box-empty.png");
}
#attributes .attributes-container input:checked ~ label.dark-heart {
  background-image: url("assets/boxes/heart-empty.png");
}
#attributes .attributes-container input:checked + label {
  transition: filter 0.1s;
  cursor: pointer;
  background-image: url("assets/boxes/box-filled.png");
}
#attributes .attributes-container input:checked + label:hover {
  filter: brightness(0.7);
  opacity: 0.7;
}
#attributes .attributes-container input:checked + label.dark-heart {
  /* animation: glow 2000ms ease-out infinite alternate; */
  background-image: url("assets/boxes/heart-filled.png");
}
#attributes .attributes-container input:checked + label.practice-one {
  background-image: url("assets/boxes/box-slashed.png");
}
#attributes .attributes-container input:checked + label.practice-two {
  background-image: url("assets/boxes/box-crossed.png");
}
#attributes .attributes-container * {
  margin-right: 5px;
}
#attributes .attributes-container label {
  margin-top: 3px;
}
#attributes input[type=text], #attributes input[type=number], #attributes input[type=password], #attributes input[type=date], #attributes input[type=time] {
  font-weight: 600;
  border: 1px solid #68332c;
}

/* All Table Formatting: */
table td,
table th {
  padding: 0.25em 5px;
}

table th:hover .item-add-popup {
  transition: opacity 0.5s;
  opacity: 1;
}
table th .item-add-popup {
  transition: opacity 0.5s;
  opacity: 0.1;
}

table td:first-child {
  /* padding-left: inherit; */
}

#base-info table {
  width: 100%;
  height: 230px;
  border-top: 5px solid #68332c;
}
#base-info table tr {
  background-color: initial;
}
#base-info table tr td:nth-of-type(1) {
  width: 150px;
}
#base-info table tr td:nth-of-type(3) {
  width: 200px;
}
#base-info table tr #name input[type=text] {
  height: 52px;
  border: none;
  font-family: Blood Crow;
  font-size: 55px;
  font-weight: normal;
  color: #68332c;
  background: none;
}
#base-info table tr:last-child {
  background-color: #68332c;
}

#character-defenses {
  width: 100%;
}
#character-defenses table {
  width: 100%;
}
#character-defenses table th {
  background-color: #68332c;
  color: #EEEFFF;
  font-size: medium;
  font-weight: 600;
}
#character-defenses table input[type=text] {
  width: 100%;
}
#character-defenses table tr td:nth-of-type(1) .item-checkmark {
  flex-grow: unset;
  margin-right: 5px;
}
#character-defenses table tr td:nth-of-type(2) {
  display: flex;
  justify-content: center;
}
#character-defenses table tr td:nth-child(3) {
  text-align: center;
}
#character-defenses table tr td:nth-child(3) .item-name {
  text-transform: uppercase;
  font-family: "Blood Crow";
  font-size: 24px;
  margin-right: 0px;
  font-weight: normal;
}

#loadout .supply {
  display: flex;
  /* Hide the browser's default checkbox */
}
#loadout .supply label {
  height: 15px;
  width: 15px;
  background-image: url("assets/boxes/box-white-crossed.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 5px;
  transition: filter 0.1s;
  cursor: pointer;
}
#loadout .supply label:last-of-type {
  margin-right: 0px;
}
#loadout .supply label[for$="-0"] {
  width: auto;
  height: auto;
  background-image: none !important;
  color: #EEEFFF;
}
#loadout .supply label[for$="-0"] i {
  margin-top: 4px;
}
#loadout .supply label:hover {
  filter: brightness(0.8);
  opacity: 0.9;
}
#loadout .supply input {
  display: none;
}
#loadout .supply input:checked ~ label {
  background-image: url("assets/boxes/box-white-filled.png");
}
#loadout .supply input:checked + label {
  background-image: url("assets/boxes/box-white-crossed.png");
}

#duties-tab .item-body {
  width: auto;
  padding: 3px;
}
#duties-tab .project-clock {
  height: 80px;
  position: relative;
}
#duties-tab .project-clock .blades-clock {
  position: relative;
  padding: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  list-style: none;
  overflow: hidden;
  background-size: cover;
}
#duties-tab .project-clock .blades-clock label {
  overflow: hidden;
  position: absolute;
  top: -50%;
  right: -50%;
  width: 100%;
  height: 100%;
  transform-origin: 0% 100%;
  transition: filter 0.1s;
  cursor: pointer;
}
#duties-tab .project-clock .blades-clock label:hover {
  filter: brightness(0.8);
  opacity: 0.9;
}
#duties-tab .project-clock .blades-clock input {
  position: absolute;
  display: none;
}
#duties-tab .project-clock .blades-clock input[value="0"] {
  display: none;
}
#duties-tab .project-clock .blades-clock *:nth-child(3) {
  transform: rotate(0deg) skewY(180deg);
}
#duties-tab .project-clock .blades-clock *:nth-child(5) {
  transform: rotate(90deg) skewY(180deg);
}
#duties-tab .project-clock .blades-clock *:nth-child(7) {
  transform: rotate(180deg) skewY(180deg);
}
#duties-tab .project-clock .blades-clock *:nth-child(9) {
  transform: rotate(270deg) skewY(180deg);
}
#duties-tab div.label-stripe {
  margin-bottom: 0px;
}
#duties-tab table {
  margin-top: 0px;
  margin-bottom: 15px;
}

#duties-table tr td:nth-of-type(1) {
  width: 50px;
}
#duties-table tr td:nth-of-type(2) {
  min-width: 90px;
  width: 23%;
}
#duties-table tr td:nth-of-type(4) {
  width: 20px;
}

#project-clocks-table tr td:nth-of-type(1) {
  width: 50px;
}
#project-clocks-table tr td:nth-of-type(2) {
  min-width: 90px;
  width: 23%;
}
#project-clocks-table tr td:nth-of-type(4) {
  width: 20px;
}

#abilities-list, #loadout {
  width: 100%;
}
#abilities-list tr, #loadout tr {
  background-color: initial;
}
#abilities-list tr td:nth-of-type(1), #loadout tr td:nth-of-type(1) {
  min-width: 75px;
  width: 23%;
}
#abilities-list tr td:nth-of-type(2), #loadout tr td:nth-of-type(2) {
  margin-right: 0px;
  margin-bottom: 0px;
  padding-bottom: 10px;
}
#abilities-list tr td:nth-of-type(3), #loadout tr td:nth-of-type(3) {
  width: 20px;
}
#abilities-list tr.group-core, #loadout tr.group-core {
  background-color: #68332c3f;
}
#abilities-list tr td div.eye-rays, #loadout tr td div.eye-rays {
  height: 230px;
  background-image: url("assets/decorations/doomseeker.png");
  background-size: 200px 200px;
  background-repeat: no-repeat;
  background-position: center;
}
#abilities-list tr td div.eye-rays ul li, #loadout tr td div.eye-rays ul li {
  text-align: center;
  position: relative;
}
#abilities-list tr td div.eye-rays ul li:nth-child(1), #loadout tr td div.eye-rays ul li:nth-child(1) {
  top: 0px;
  left: 0px;
}
#abilities-list tr td div.eye-rays ul li:nth-child(2), #loadout tr td div.eye-rays ul li:nth-child(2) {
  top: 12px;
  left: -155px;
}
#abilities-list tr td div.eye-rays ul li:nth-child(3), #loadout tr td div.eye-rays ul li:nth-child(3) {
  top: -22px;
  left: 126px;
}
#abilities-list tr td div.eye-rays ul li:nth-child(4), #loadout tr td div.eye-rays ul li:nth-child(4) {
  top: -17px;
  left: -155px;
}
#abilities-list tr td div.eye-rays ul li:nth-child(5), #loadout tr td div.eye-rays ul li:nth-child(5) {
  top: -34px;
  left: 126px;
}
#abilities-list tr td div.eye-rays ul li:nth-child(6), #loadout tr td div.eye-rays ul li:nth-child(6) {
  top: 25px;
  left: -162px;
}
#abilities-list tr td div.eye-rays ul li:nth-child(7), #loadout tr td div.eye-rays ul li:nth-child(7) {
  top: -9px;
  left: 142px;
}
#abilities-list tr td div.eye-rays ul li:nth-child(8), #loadout tr td div.eye-rays ul li:nth-child(8) {
  top: -4px;
  left: -162px;
}
#abilities-list tr td div.eye-rays ul li:nth-child(9), #loadout tr td div.eye-rays ul li:nth-child(9) {
  top: -21px;
  left: 142px;
}
#abilities-list tr.stolen-face img, #loadout tr.stolen-face img {
  max-height: 100px;
  width: 75px;
  object-fit: cover;
}
#abilities-list table.gold-monger-path tr:nth-child(1) td:nth-child(1), #loadout table.gold-monger-path tr:nth-child(1) td:nth-child(1) {
  background: none;
}
#abilities-list table.gold-monger-path tr:nth-child(2) td:nth-child(1), #loadout table.gold-monger-path tr:nth-child(2) td:nth-child(1) {
  background-position-y: center;
}
#abilities-list table.gold-monger-path tr:nth-child(3) td:nth-child(1), #loadout table.gold-monger-path tr:nth-child(3) td:nth-child(1) {
  background-position-y: bottom;
}
#abilities-list table.gold-monger-path tr:nth-child(4) td:nth-child(1), #loadout table.gold-monger-path tr:nth-child(4) td:nth-child(1) {
  background-position-y: center;
  background-image: url("assets/decorations/verticalline-top.png");
}
#abilities-list table.gold-monger-path tr td:nth-child(1), #loadout table.gold-monger-path tr td:nth-child(1) {
  min-width: 32px;
  width: 32px;
  background-image: url("assets/decorations/verticalline-bottom.png");
  background-repeat: no-repeat;
}

/* Display all Item Names in Bold */
.item-name {
  font-weight: 600;
}

#defenses-stress {
  display: flex;
}

#character-stress-clock {
  width: 60px;
  position: relative;
}
#character-stress-clock .blades-clock {
  position: relative;
  padding: 0;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  list-style: none;
  overflow: hidden;
  background-size: cover;
}
#character-stress-clock .blades-clock label {
  overflow: hidden;
  position: absolute;
  top: -50%;
  right: -50%;
  width: 100%;
  height: 100%;
  transform-origin: 0% 100%;
  transition: filter 0.1s;
  cursor: pointer;
}
#character-stress-clock .blades-clock label:hover {
  filter: brightness(0.8);
  opacity: 0.9;
}
#character-stress-clock .blades-clock input {
  position: absolute;
  display: none;
}
#character-stress-clock .blades-clock input[value="0"] {
  display: none;
}
#character-stress-clock .blades-clock *:nth-child(3) {
  transform: rotate(0deg) skewY(150deg);
}
#character-stress-clock .blades-clock *:nth-child(5) {
  transform: rotate(60deg) skewY(150deg);
}
#character-stress-clock .blades-clock *:nth-child(7) {
  transform: rotate(120deg) skewY(150deg);
}
#character-stress-clock .blades-clock *:nth-child(9) {
  transform: rotate(180deg) skewY(150deg);
}
#character-stress-clock .blades-clock *:nth-child(11) {
  transform: rotate(240deg) skewY(150deg);
}
#character-stress-clock .blades-clock *:nth-child(13) {
  transform: rotate(300deg) skewY(150deg);
}
#character-stress-clock .clock-zero-label {
  position: relative;
  left: -10px;
}
#character-stress-clock .blades-clock {
  top: -10px;
}

#attributes-darkhearts {
  margin-top: -22px;
  margin-left: 36px;
}
#attributes-darkhearts .heart-container {
  justify-content: flex-start;
  display: flex;
  /* Hide the browser's default checkbox */
}
#attributes-darkhearts .heart-container label {
  height: 32px;
  width: 32px;
  background-image: url("assets/boxes/box-filled.png");
  background-repeat: no-repeat;
  background-size: contain;
  vertical-align: middle;
  transition: filter 0.1s;
  cursor: pointer;
}
#attributes-darkhearts .heart-container label.dark-heart {
  background-image: url("assets/boxes/heart-filled.png");
  margin-right: 4px;
  position: relative;
  top: -4px;
}
#attributes-darkhearts .heart-container label[for$="-0"] {
  height: 8px;
  width: 8px;
  border-radius: 24px;
  opacity: 0;
  transition: opacity 1s;
  background-image: none !important;
  background-color: #a20000 !important;
  margin-right: 0px;
}
#attributes-darkhearts .heart-container label:hover {
  filter: brightness(0.7);
  opacity: 0.7;
}
#attributes-darkhearts .heart-container input {
  display: none;
}
#attributes-darkhearts .heart-container input:checked ~ label {
  background-image: url("assets/boxes/box-empty.png");
}
#attributes-darkhearts .heart-container input:checked ~ label.dark-heart {
  background-image: url("assets/boxes/heart-empty.png");
}
#attributes-darkhearts .heart-container input:checked + label {
  transition: filter 0.1s;
  cursor: pointer;
  background-image: url("assets/boxes/box-filled.png");
}
#attributes-darkhearts .heart-container input:checked + label:hover {
  filter: brightness(0.7);
  opacity: 0.7;
}
#attributes-darkhearts .heart-container input:checked + label.dark-heart {
  /* animation: glow 2000ms ease-out infinite alternate; */
  background-image: url("assets/boxes/heart-filled.png");
}
#attributes-darkhearts .heart-container input:checked + label.practice-one {
  background-image: url("assets/boxes/box-slashed.png");
}
#attributes-darkhearts .heart-container input:checked + label.practice-two {
  background-image: url("assets/boxes/box-crossed.png");
}
#attributes-darkhearts .heart-container:hover label {
  transition: opacity 1s;
  opacity: 1;
}

#abilities, #loadout {
  /*.item-name {
      width: 70px;
  }*/
  /*.item-description {
      width: 200px;
  }*/
  /* .label-stripe { */
  /* p:first-child { */
  /* margin-right: 10px; */
  /* } */
}
#abilities .item-body, #loadout .item-body {
  width: auto;
  font-weight: 500;
}

#abilities-list div.item-name, #loadout div.item-name {
  flex-basis: 25%;
}
#abilities-list div.item-description, #loadout div.item-description {
  width: fit-content;
}

/*# sourceMappingURL=wicked.css.map */
