&{
  min-width: 420px;
  min-height: 320px;
}

.clock-zero-label {
  color: $almost_black;
}

.clocks {
  &.clocks-4 {
    @include clock(4, 200);
  }
  &.clocks-6 {
    @include clock(6, 200);
  }
  &.clocks-8 {
    @include clock(8, 200);
  }
}

.blades-clock-name-type {
  > * {
    margin-bottom: 10px;
  }
  .blades-clock{
    margin: 10px auto;
  }
}

