// Add Items modal styling.
#items-to-add {

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;

  input[type="radio"],
  input[type="checkbox"] {
    display: none;

    &:checked + label {
      font-weight: bold;
    }
  }
}
