<div id="attributes">

  {{#each data.attributes as |attribute attribute_name|}}

  <div id="attributes-{{attribute_name}}" class="attribute flex-horizontal">
    <div class="shock{{#if (true)}} filled{{/if}}"></div>
    <div class="main">
      <div id="attributes-{{attribute_name}}-title" class="attributes-exp">
        <div class="stripe">
          <a class="attribute-label roll-die-attribute rollable-text" data-roll-attribute="{{attribute_name}}">{{localize attribute_name}}</a>
        </div>
      </div>

      {{!-- Skills --}}

      {{#each attribute.skills as |skill skill_name|}}

      <div class="flex-horizontal">
        <div class="attributes-container">

          {{#multiboxes skill.value}}

          {{#times_from_0 3}}
          <input type="radio" id="attributes-{{../../../actor._id}}-{{skill_name}}-{{this}}"
                 name="data.attributes.{{attribute_name}}.skills.{{skill_name}}.value" value="{{this}}">
          <label for="attributes-{{../../../actor._id}}-{{skill_name}}-{{this}}"></label>
          {{/times_from_0}}

          <div class="attribute-skill-label roll-die-attribute rollable-text" data-roll-attribute="{{skill_name}}">{{localize skill.label}}</div>
          {{/multiboxes}}
        </div>
      </div>
      {{/each}}
    </div>

  </div>
  {{/each}}

  <div id="attributes-bloodied" class="attribute flex-horizontal">
    <div class="bloodied{{#if (true)}} filled{{/if}}"></div>
    <div class="main">
        <div class="stripe">
          <a class="attribute-label roll-die-attribute rollable-text" data-roll-attribute="Bloodied">{{localize "FITD.Bloodied"}}</a>
        </div>
    </div>
  </div>

  <div id="attributes-darkhearts" class="flex-horizontal heart-container">
    <div class="dark-heart{{#if (true)}} filled{{/if}}"></div>
    <div class="dark-heart{{#if (true)}} filled{{/if}}"></div>
  </div>
  <div class="attribute flex-horizontal heart-container">
    <div class="main">
        <div class="stripe">
          <a class="attribute-label roll-die-attribute rollable-text" data-roll-attribute="DarkHearts">{{localize "FITD.DarkHearts"}}</a>
        </div>
    </div>
  </div>

</div>
