<div id="crew-{{actor._id}}-turf-list" class="turf-list {{#if can_edit}}section-editable{{else}}section-non-editable{{/if}}">

  <div class="turf-row">
    {{#each turfs_data as |turf id|}}
    <div class="turf-block {{#if turf.value}}turf-selected{{/if}}">

        {{#each turf.connects as |connect key|}}

          {{#is_turf_side key}}
            {{#if connect}}
            <div class="connector {{key}}"></div>
            {{/if}}
          {{else}}
            <div class="connector {{connect}}"></div>
          {{/is_turf_side}}

        {{/each}}

        {{#if ../can_edit}}

          {{#noteq id "8"}}
          <input class="name-box" type="checkbox" name="data.turfs.{{id}}.value" {{checked turf.value}}>
          {{/noteq}}

          <div>
            {{#multiboxes turf.connects}}
            <input type="checkbox" name="data.turfs.{{id}}.connects.left" {{checked turf.connects.left}}>
            <input type="checkbox" name="data.turfs.{{id}}.connects.top" {{checked turf.connects.top}}>
            <input type="checkbox" name="data.turfs.{{id}}.connects.right" {{checked turf.connects.right}}>
            <input type="checkbox" name="data.turfs.{{id}}.connects.bottom" {{checked turf.connects.bottom}}>
            {{/multiboxes}}
          </div>

          <input class="turf-name" type="text" name="data.turfs.{{id}}.name" value="{{#if ../editable}}{{turf.name}}{{else}}{{localize turf.name}}{{/if}}">
          {{#noteq turf.name "BITD.Turf"}}
          {{#noteq turf.name "BITD.Lair"}}
          <textarea class="turf-description" name="data.turfs.{{id}}.description">{{localize turf.description}}</textarea>
          {{/noteq}}
          {{/noteq}}
        {{else}}
          <p class="turf-name">{{localize turf.name}}</p>
          {{#if turf.description}}
          <p class="turf-description">{{{localize turf.description}}}</p>
          {{/if}}
          {{#noteq id "8"}}
          <a class="turf-control turf-select" title="Select" data-turf-id="{{id}}" data-turf-status="{{turf.value}}"><i class="fas fa-circle"></i></a>
          {{/noteq}}
        {{/if}}
    </div>
    {{#if (eq id "5")}}
    </div><div class="turf-row">
    {{/if}}
    {{#if (eq id "10")}}
    </div><div class="turf-row">
    {{/if}}
    {{/each}}
  </div>
</div>
